.n404 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/asset/image/normal-background-image.png");
    font-size: 24px;
}