.access {}

.access-block {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.access-block + .access-block {
    margin-top: 10px;
}

.access-block-header {
    padding: 20px;
    font-size: 24px;
}

.access-block-header {}

.access-block-content {
    padding: 20px;
    border-top: 1px solid #ccc;
    font-size: 0;
}

.access-block-letter {
    font-size: initial;
}

.access-block-item {
    display: inline-block;
    width: 20%;
    height: 150px;
    background-color: #fff;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 1px 1px 0;
    text-align: center;
    font-size: 12px;
}

.access-block-item:nth-of-type(5n+1) {
    border-left-width: 1px;
}

.access-block-item:nth-of-type(n+6) {
    border-top-width: 0;
}

.access-block-item:hover {
    background-color: #c82929;
    color: #fff;
}

.access-block-item::before {
    display: block;
    margin-bottom: 10px;
    font-size: 24px;
    color: #777;
}

.access-block-item:hover::before {
    color: #fff;
}

.access-board::before {
    content: "\f1ea";
}

.access-photo::before {
    content: "\f03e";
}

.access-video::before {
    content: "\f008";
}

.access-appoint::before {
    content: "\f274";
}

.access-block-subheader {
    padding: 10px;
}

.access-block-subheader::before {
    margin-right: 6px;
    content: "\f1ea";
}

.access-type-photo.access-block-subheader::before {
    content: "\f03e";
}

.access-type-video.access-block-subheader::before {
    content: "\f008";
}

.access-block-table {
    font-size: 13px;
}

.access-block-table table {
    width: 100%;
}

.access-block-table table thead {
    background-color: #565656;
    color: #fff;
}

.access-block-table table th,
.access-block-table table td {
    padding: 6px;
}

.access-block-table table th {
    text-align: left;
}

.access-block-table table th:first-of-type {
    width: 180px;
}

.access-block-table table td {
    vertical-align: middle;
}

.access-block-table table img {
    max-width: 100px;
}