.appoint {}

.appoint .appoint-header {
    margin-bottom: 24px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 22px;
}

.appoint .appoint-header::before {
    margin-right: 10px;
    content: "\f274";
}

.appoint .appoint-block {}

.appoint .appoint-block + .appoint-block {
    margin-top: 20px;
}

.appoint .appoint-block.appoint-recruiter {}

.appoint .appoint-block.appoint-date {}

.appoint .appoint-block.appoint-time {}

.appoint .appoint-block.appoint-description {}

.appoint .appoint-block-header {
    font-weight: bold;
    font-size: 18px;
}

.appoint .appoint-block-content {
    margin-top: 10px;
    min-height: 36px;
}

.appoint .appoint-recruiter-member {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.appoint .appoint-recruiter-member img,
.appoint .appoint-recruiter-member span {
    display: inline-block;
    vertical-align: middle;
}

.appoint .appoint-recruiter-member img {
    margin-right: 4px;
    height: 30px;
    border-radius: 15px
}

.appoint .appoint-block.appoint-time .appoint-block-content {
    font-size: 0;
}

.appoint .appoint-time .appoint-time-item {
    display: inline-block;
    padding: 10px;
    width: 20%;
    background-color: #fff;
    border-style: solid;
    border-color: #ccc;
    border-width: 1px 1px 1px 0;
    text-align: center;
    font-size: 13px;
}

.appoint .appoint-time .appoint-time-item:nth-of-type(5n+1) {
    border-left-width: 1px;
}

.appoint .appoint-time .appoint-time-item:nth-of-type(n+6) {
    border-top-width: 0;
}

.appoint .appoint-time .appoint-time-item.work,
.appoint .appoint-time .appoint-time-item:hover,
.appoint .appoint-option button {
    background-color: #c82828;
    color: #fff;
}

.appoint .appoint-block input,
.appoint .appoint-block textarea {
    padding: 10px;
    border-radius: 3px;
}

.appoint .appoint-block input {
    min-width: 160px;
}

.appoint .appoint-block textarea {
    width: 100%;
    min-height: 100px;
    border-color: #ccc;
    outline: 0;
    resize: vertical;
}

.appoint .appoint-option {
    margin-top: 10px;
    text-align: right;
}

.appoint .appoint-option button {
    padding: 6px 40px;
    border-radius: 3px;
    font-size: 16px;
}