.appointmaker {}

.appointmaker .appointmaker-header {
    margin-bottom: 20px;
    padding: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 28px;
}

.appointmaker .appointmaker-header::before {
    margin-right: 10px;
    content: "\f274";
}

.appointmaker .appointmaker-content {}

.appointmaker .appointmaker-date {
    font-size: 0;
}

.appointmaker .appointmaker-date .appointmaker-date-item {
    display: inline-block;
    width: 50%;
    font-size: initial;
}

.appointmaker .appointmaker-date .appointmaker-date-item span {
    margin-right: 10px;
    font-size: 14px;
}

.appointmaker .appointmaker-date .appointmaker-date-item input {
    padding: 5px;
    border-radius: 3px;
    outline: 0;
}

.appointmaker .appointmaker-tag {
    margin-top: 20px;
    font-size: 0;
}

.appointmaker .appointmaker-tag button {
    display: inline-block;
    padding-left: 20px;
    width: 50%;
    height: 40px;
    text-align: left;
}

.appointmaker .appointmaker-tag button.work,
.appointmaker .appointmaker-tag button:hover {
    color: #fff;
}

.appointmaker .appointmaker-tag button.work {
    background-color: #c82828;
}

.appointmaker .appointmaker-tag button:hover {
    background-color: #1d2021;
}

.appointmaker .appointmaker-tag button + button {
    border-left-width: 0;
}

.appointmaker .appointmaker-time {
    margin-top: 10px;
}

.appointmaker .appointmaker-time {}

.appointmaker .appointmaker-time table {
    width: 100%;
    text-align: center;
    font-size: 14px;
}

.appointmaker .appointmaker-time thead {
    background-color: #1d2021;
    color: #fff;
}

.appointmaker .appointmaker-time th {
    padding: 10px;
}

.appointmaker .appointmaker-time tbody {
    background-color: #fff;
}

.appointmaker .appointmaker-time td:first-of-type {
    border-right: 1px solid #ccc;
}

.appointmaker .appointmaker-time button {
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 0;
}

.appointmaker .appointmaker-time button.work,
.appointmaker .appointmaker-time button:hover,
.appointmaker .appointmaker-option button {
    background-color: #c82828;
    color: #fff;
}

.appointmaker .appointmaker-option {
    margin-top: 10px;
    text-align: right;
}

.appointmaker .appointmaker-option button {
    padding: 6px 40px;
    border-radius: 3px;
    border: 0;
    font-size: 16px;
}