* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html.freeze {
    overflow: hidden;
}

body {
    position: relative;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: #faf4ef;
    font-family: "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang TC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    color: #333;
}

a {
    color: #777;
    text-decoration: none;
}

img {
    display: block;
}

input,
select,
button {
    border: 1px solid #ccc;
    outline: 0;
}

button {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    outline: 0;
    cursor: pointer;
}

article {
    position: relative;
    overflow: hidden;
}

.basic-min-height {
    min-height: 100vh;
    min-height: calc( 100vh - 40px - 60px );
}

.i::before,
.i::after {
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
}

.standby::before,
.standby::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
}

.standby::before {
    width: 160px;
    height: 60px;
    margin-top: -75px;
    margin-left: -80px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(../image/header-logo-n.png);
    content: "";
}

.standby::after {
    margin-top: -12px;
    margin-left: -12px;
    animation-name: standbykeyframes;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 24px;
    color: #dd0;
    content: "\f110";
}

.areatext {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.pointer {
    cursor: pointer;
}

@keyframes standbykeyframes {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

@media (max-width: 800px) {

    body {
        padding-top: 80px;
    }

}