.board {
    background-color: #fff;
}

.board .board-container {
    position: relative;
    border: 1px solid #ccc;
}

.board + .board {
    margin-top: 20px;
}

.board .board-title {
    padding-top: 10px;
    padding-left: 60px;
    height: 60px;
    line-height: 18px;
    font-size: 13px;
}

.board .board-name {
    display: block;
    font-weight: bold;
    color: #2196F3;
}

.board .board-privacy,
.board .board-date {
    display: inline-block;
    color: #aaa;
}

.board .board-privacy {}

.board .board-privacy.board-privacy-public::before {
    content: "\f0ac";
}

.board .board-privacy.board-privacy-private::before {
    content: "\f023";
}

.board .board-avatar {
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
    width: 40px;
    height: 40px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.board .board-detail {
    padding-left: 10px;
    padding-right: 10px;
}

.board .board-letter {}

.board .board-video,
.board .board-photo {
    margin-top: 16px;
}

.board .board-video {
    padding-left: 10px;
    padding-right: 10px;
}

.board .board-video iframe,
.board .board-video video {
    width: 100%;
    height: 360px;
}

.board .modify .board-video iframe,
.board .modify .board-video video {
    width: 320px;
    height: 180px;
}

.board .modify .board-video button {
    float: right;
    border-radius: 3px;
}

.board .modify .board-video button.working {
    position: relative;
    pointer-events: none;
    color: transparent;
}

.board .modify .board-video button.working::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -6px;
    margin-left: -5px;
    -webkit-animation-name: ani-button-working;
            animation-name: ani-button-working;
    -webkit-animation-duration: 1200ms;
            animation-duration: 1200ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    font-size: 12px;
    content: "\f110";
    color: #777;
}

.board .board-photo {
    font-size: 0;
}

.board .board-photo.board-photo-odd {}

.board .board-photo-item {
    display: inline-block;
    width: 50%;
    height: 300px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
}

.board .board-photo.board-photo-odd .board-photo-item:last-of-type {
    width: 100%;
    height: auto;
}

.board .board-photo-item img {
    display: none;
    width: 100%;
    border-radius: 3px
}

.board .board-photo.board-photo-odd .board-photo-item:last-of-type img {
    display: block;
}

.board .board-modify {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.board .board-modify textarea {
    padding: 10px;
    width: 100%;
    min-height: 100px;
    resize: vertical;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: 0;
}

.board .board-modify .board-modify-photo {
    font-size: 0;
}

.board .board-modify .board-modify-photo-item,
.board .board-modify .board-modify-photo-attend {
    display: inline-block;
    margin: 5px 10px 5px 0;
    width: 80px;
    height: 80px;
    border-radius: 3px;
    vertical-align: top;
}

.board .board-modify .board-modify-photo-item {
    position: relative;
    background-color: #ccc;
    background-position: center;
    background-size: cover;
    border: 0;
}

.board .board-modify .board-modify-photo-item:hover {
    opacity: 0.6;
}

.board .board-modify .board-modify-photo-item:hover::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    font-size: 24px;
    content: "＋";
    color: #fff;
}

.board .board-modify .board-modify-photo-attend {
    border: 1px dotted #ccc;
}

.board .board-modify .board-modify-photo-attend.working,
.board .board-modify .board-modify-photo-attend.working::before {
    color: transparent;
}

.board .board-modify .board-modify-photo-attend.working {
    position: relative;
    pointer-events: none;
}

.board .board-modify .board-modify-photo-attend::before {
    font-size: 18px;
    color: #ccc;
    content: "＋";
}

.board .board-modify .board-modify-photo-attend.working::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -7px;
    margin-left: -7px;
    animation-name: ani-button-working;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 12px;
    content: "\f110";
    color: #ccc;
}

.board .board-modify button.board-modify-submit {
    position: absolute;
    top: 10px;
    right: 20px;
    border-radius: 4px;
}

.board .board-status {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    overflow: hidden;
    border-bottom: 1px solid #ccc;
}

.board .board-status-item {
    position: relative;
    float: left;
    font-size: 14px;
}

.board .board-status-item + .board-status-item {
    margin-left: 12px;
}

.board .board-status-item::before {
    margin-right: 5px;
}

.board .board-status-seen::before {
    content: "\f06e";
}

.board .board-status-like::before {
    content: "\f08a";
}

.board .board-status-like.work::before {
    content: "\f004";
}

.board .board-comment {
    padding-top: 10px;
    background-color: #f9f9f9;
}

.board .board-comment-avatar {
    position: absolute;
    top: 0;
    left: 10px;
    right: 0;
    width: 30px;
    height: 30px;
    background-color: #ccc;
    background-size: cover;
    border-radius: 15px;
}

.board .board-comment-reply {
    position: relative;
    padding-bottom: 10px;
}

.board .board-comment-reply-text {
    padding-left: 50px;
    padding-right: 10px;
}

.board .board-comment-reply-text input {
    padding-left: 10px;
    width: 100%;
    height: 30px;
    border-radius: 15px;
    vertical-align: top;
}

.board .board-comment-reply button {
    position: absolute;
    top: 3px;
    right: 13px;
    width: 24px;
    height: 24px;
    border-radius: 12px;
}

.board .board-comment-reply button::before {
    color: #777;
    content: "\f08e";
}

.board button.board-comment-view {
    display: block;
    padding-left: 10px;
    width: 100%;
    height: 24px;
    border: 0;
    text-align: left;
    background-color: #f9f9f9;
    color: #777;
}

.board .board-comment-content {}

.board .board-comment-item {
    position: relative;
    padding-bottom: 10px;
    padding-left: 50px;
}

.board .board-comment-item-name,
.board .board-comment-item-date {
    font-size: 13px;
}

.board .board-comment-item-name {
    color: #2196F3;
}

.board .board-comment-item-date {
    color: #aaa;
}

.board .board-comment-item-letter {}

.board .board-extra,
.board .board-extra-select {
    position: absolute;
}

.board .board-extra {
    top: 0;
    right: 0;
    padding: 10px;
    border-radius: 0;
    border: 0;
    color: #999;
}

.board .board-extra::after {
    content: "\f141";
}

.board .board-extra-select {
    top: 24px;
    right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.board .board-extra-select button {
    display: block;
    padding: 4px 12px;
    width: 100%;
    border: 0;
    text-align: left;
}

.board .board-extra-select button:hover {
    background-color: #e82949;
    color: #fff;
}