.bulletin {}

.bulletin .bulletin-poster {
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.bulletin .bulletin-poster .bulletin-poster-header {
    height: 30px;
    background-color: #c82929;
    font-size: 13px;
    color: #fff;
}

.bulletin .bulletin-poster .bulletin-poster-header-letter,
.bulletin .bulletin-poster .bulletin-poster-live,
.bulletin .bulletin-poster .bulletin-poster-options > button {
    line-height: 30px;
}

.bulletin .bulletin-poster .bulletin-poster-header-letter {
    float: left;
    padding-left: 10px;
    width: 100px;
}

.bulletin .bulletin-poster .bulletin-poster-header-letter::before {
    margin-right: 5px;
    content: "\f040";
}

.bulletin .bulletin-poster .bulletin-poster-live,
.bulletin .bulletin-poster .bulletin-poster-options > button {
    display: inline-block;
    padding: 0 10px;
    border: 0;
}

.bulletin .bulletin-poster .bulletin-poster-live:hover,
.bulletin .bulletin-poster .bulletin-poster-options > button:hover {
    background-color: #333;
    color: #fff;
}

.bulletin .bulletin-poster .bulletin-poster-live {
    display: none;
    background-color: #c82929;
}

.bulletin .bulletin-poster .bulletin-poster-live::before {
    content: "\f03d";
}

.bulletin .bulletin-poster .bulletin-poster-content {
    padding-left: 100px;
    background-color: #fff;
    background-position: top left;
    background-size: 100px;
    background-repeat: no-repeat;
}

.bulletin .bulletin-poster .bulletin-poster-textarea,
.bulletin .bulletin-poster .bulletin-poster-textarea textarea {
    width: 100%;
}

.bulletin .bulletin-poster .bulletin-poster-textarea,
.bulletin .bulletin-poster .bulletin-poster-photo,
.bulletin .bulletin-poster .bulletin-poster-options {
    border-left: 1px solid #ccc;
}

.bulletin .bulletin-poster .bulletin-poster-textarea {}

.bulletin .bulletin-poster .bulletin-poster-textarea textarea {
    display: block;
    padding: 10px;
    height: 100%;
    min-height: 70px;
    background-color: #f9f5ee;
    border: 0;
    outline: 0;
    resize: vertical;
    font-size: 14px;
}

.bulletin .bulletin-poster .bulletin-poster-video,
.bulletin .bulletin-poster .bulletin-poster-photo {
    background-color: #f9f5ee;
}

.bulletin .bulletin-poster .bulletin-poster-video {}

.bulletin .bulletin-poster .bulletin-poster-video video{
    margin: 10px;
    max-height: 200px;
    border-radius: 5px;
}

.bulletin .bulletin-poster .bulletin-poster-photo {}

.bulletin .bulletin-poster .bulletin-poster-photo-item {
    display: inline-block;
    position: relative;
    margin: 5px 0 5px 10px;
    width: 80px;
    height: 80px;
    background-color: #ccc;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    border: 0;
}

.bulletin .bulletin-poster .bulletin-poster-photo-item:hover {
    opacity: 0.6;
}

.bulletin .bulletin-poster .bulletin-poster-photo-item:hover::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
    font-size: 24px;
    content: "＋";
    color: #fff;
}

.bulletin .bulletin-poster .bulletin-poster-options {
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    height: 30px;
    background-color: #eee;
    border-top: 1px solid #ccc;
    font-size: 0;
}

.bulletin .bulletin-poster .bulletin-poster-options > button {
    margin-top: 4px;
    height: 22px;
    background-color: #eee;
    border-radius: 5px;
    vertical-align: top;
    line-height: 22px;
}

.bulletin .bulletin-poster .bulletin-poster-options > button::before {
    margin-right: 4px;
    line-height: initial;
}

.bulletin .bulletin-poster .bulletin-poster-options-video::before {
    content: "\f008";
}

.bulletin .bulletin-poster .bulletin-poster-options-video.working,
.bulletin .bulletin-poster .bulletin-poster-options-photo.working {
    position: relative;
    pointer-events: none;
    color: transparent;
}

.bulletin .bulletin-poster .bulletin-poster-options-video.vetoing,
.bulletin .bulletin-poster .bulletin-poster-options-photo.vetoing {
    pointer-events: none;
    color: #ccc;
}

.bulletin .bulletin-poster .bulletin-poster-options-video.working::before,
.bulletin .bulletin-poster .bulletin-poster-options-video.working::after,
.bulletin .bulletin-poster .bulletin-poster-options-photo.working::before,
.bulletin .bulletin-poster .bulletin-poster-options-photo.working::after {
    color: #777;
}

.bulletin .bulletin-poster .bulletin-poster-options-video.working::after,
.bulletin .bulletin-poster .bulletin-poster-options-photo.working::after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -11px;
    -webkit-animation-name: ani-button-working;
            animation-name: ani-button-working;
    -webkit-animation-duration: 1200ms;
            animation-duration: 1200ms;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    font-size: 12px;
    content: "\f110";
}

.bulletin .bulletin-poster .bulletin-poster-options-photo::before {
    content: "\f03e";
}

.bulletin .bulletin-poster .bulletin-poster-options-photo + input[type=file] {
    display: none;
}

.bulletin .bulletin-poster .bulletin-poster-privacy,
.bulletin .bulletin-poster .bulletin-poster-post {
    position: absolute;
}

.bulletin .bulletin-poster .bulletin-poster-options > .bulletin-poster-privacy,
.bulletin .bulletin-poster .bulletin-poster-options > .bulletin-poster-privacy:hover {
    background-color: #f3f3f3;
    color: #3a3a3a;
}

.bulletin .bulletin-poster .bulletin-poster-options > .bulletin-poster-privacy {
    right: 110px;
    margin-top: 3px;
    height: 23px;
    border: 1px solid #ccc;
}

.bulletin .bulletin-poster .bulletin-poster-privacy::before {
    content: "\f0ac";
}

.bulletin .bulletin-poster .bulletin-poster-privacy.bulletin-poster-privacy-private::before {
    content: "\f023";
}

.bulletin .bulletin-poster .bulletin-poster-privacy::after {
    margin-left: 5px;
    line-height: initial;
    content: "\f0d7";
}

.bulletin .bulletin-poster .bulletin-poster-options > .bulletin-poster-post {
    right: 4px;
    width: 100px;
    height: 22px;
    background-color: #e82949;
    line-height: 22px;
    font-size: 14px;
    color: #fff;
}

.bulletin .bulletin-poster .bulletin-privacy-select {
    display: none;
    position: absolute;
    top: 29px;
    right: 10px;
    z-index: 10;
    padding: 10px 0;
    width: 200px;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    font-size: 12px;
}

.bulletin .bulletin-poster .bulletin-privacy-select.work {
    display: block;
}

.bulletin .bulletin-poster .bulletin-privacy-select > * {
    display: block;
    padding-left: 20px;
    padding-right: 20px;
}

.bulletin .bulletin-poster .bulletin-privacy-select > span {
    padding-top: 6px;
    padding-bottom: 6px;
}

.bulletin .bulletin-poster .bulletin-privacy-select > button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    background-color: #f3f3f3;
    border: 0;
    text-align: left;
}

.bulletin .bulletin-poster .bulletin-privacy-select > button:hover {
    background-color: #c82929;
    color: #fff;
}

.bulletin .bulletin-poster .bulletin-privacy-select > button::before {
    display: inline-block;
    margin-right: 6px;
    width: 12px;
    text-align: center;
}

.bulletin .bulletin-poster .bulletin-privacy-public::before {
    content: "\f19d";
}

.bulletin .bulletin-poster .bulletin-privacy-private::before {
    content: "\f023";
}

.bulletin .bulletin-empty {
    margin-top: 20px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 13px;
    color: #777;
}

.bulletin .bulletin-content {}

.bulletin .bulletin-item {}