.container {
    display: table;
    width: 100%;
}

.container .container-item {
    display: table-cell;
}

.cabin-s,
.cabin-m {
    float: left;
    padding-top: 20px;
    padding-bottom: 60px;
    padding-left: 20px;
}

.cabin-s {
    width: 25%;
    padding-right: 10px;
}

.cabin-m {
    width: 50%;
    padding-right: 20px;
}