#CropContainer {
    display: inline-block;
    position: relative;
    max-width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

img#BaseImg {
    display: block;
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    pointer-events: none;
}

#CropFrame {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 20px;
    height: 20px;
    border: 1px dotted #fff;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
    cursor: all-scroll;
}

#CropContainer.work #CropFrame {
    display: block;
}

#CropFrame .crop-frontier,
#CropFrame .crop-pointer {
    position: absolute;
}

#CropFrame .crop-frontier::after,
#CropFrame .crop-pointer::before,
#CropFrame .crop-pointer::after {
    display: block;
    position: absolute;
    content: "";
}

#CropFrame .crop-pointer::before {
    width: 6px;
    height: 6px;
    top: 50%;
    left: 50%;
    margin-top: -3px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.7);
}

#CropFrame .crop-pointer::after {}

#CropFrame #CropTop::after,
#CropFrame #CropBottom::after {
    height: 6px;
    cursor: ns-resize;
}

#CropFrame #CropTop::after {
    margin-top: -3px;
}

#CropFrame #CropBottom::after {
    margin-bottom: -3px;
}

#CropFrame #CropLeft::after,
#CropFrame #CropRight::after {
    width: 6px;
    cursor: ew-resize;
}

#CropFrame #CropTop,
#CropFrame #CropBottom,
#CropFrame #CropTop::after,
#CropFrame #CropBottom::after {
    left: 0;
    right: 0;
}

#CropFrame #CropTop,
#CropFrame #CropTop::after {
    top: 0;
}

#CropFrame #CropBottom,
#CropFrame #CropBottom::after {
    bottom: 0;
}

#CropFrame #CropLeft,
#CropFrame #CropRight,
#CropFrame #CropLeft::after,
#CropFrame #CropRight::after {
    top: 0;
    bottom: 0;
}

#CropFrame #CropLeft,
#CropFrame #CropLeft::after {
    left: 0;
}

#CropFrame #CropRight,
#CropFrame #CropRight::after {
    right: 0;
}

#CropFrame #CropLeft::after {
    margin-left: -3px;
}

#CropFrame #CropRight::after {
    margin-right: -3px;
}

#CropFrame #CropTopLeft,
#CropFrame #CropTopRight {
    top: 0;
}

#CropFrame #CropBottomLeft,
#CropFrame #CropBottomRight {
    bottom: 0;
}

#CropFrame #CropTopLeft,
#CropFrame #CropBottomLeft {
    left: 0;
}

#CropFrame #CropTopRight,
#CropFrame #CropBottomRight {
    right: 0;
}

#CropFrame #CropTopLeft::after,
#CropFrame #CropTopRight::after,
#CropFrame #CropBottomLeft::after,
#CropFrame #CropBottomRight::after {
    margin-top: -8px;
    margin-left: -8px;
    width: 16px;
    height: 16px;
}

#CropFrame #CropTopLeft::after,
#CropFrame #CropBottomRight::after {
    cursor: nwse-resize;
}

#CropFrame #CropTopRight::after,
#CropFrame #CropBottomLeft::after {
    cursor: nesw-resize;
}