nav#DialogueNav,
nav#DialogueNav > section ,
nav#DialogueNav::after {
    vertical-align: middle;
}

nav#DialogueNav {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 110;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

nav#DialogueNav.work {
    display: block;
}

nav#DialogueNav > section ,
nav#DialogueNav::after {
    display: inline-block;
}

nav#DialogueNav::after {
    height: 100%;
    content: "";
}

nav#DialogueNav section.alert,
nav#DialogueNav section.confirm,
nav#DialogueNav section.cropper {
    background-color: #fff;
    text-align: left;
}

nav#DialogueNav section.alert {
    width: 300px;
    text-align: center;
}

nav#DialogueNav section.confirm {
    width: 500px;
}

nav#DialogueNav section.cropper {
    width: 600px;
}

nav#DialogueNav .confirm-header,
nav#DialogueNav .confirm-content {
    padding-left: 10px;
}

nav#DialogueNav .confirm-header {
    width: 100%;
    height: 36px;
    background-color: #c82828;
    line-height: 36px;
    color: #fff;
}

nav#DialogueNav .confirm-content {
    padding-top: 10px;
    padding-right: 10px;
    min-height: 70px
}

nav#DialogueNav section.alert .confirm-content {
    padding-top: 30px;
}

nav#DialogueNav .countdown .countdown-loading {
    position: relative;
}


nav#DialogueNav .countdown .countdown-loading::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -12px;
    margin-left: -12px;
    animation-name: standbykeyframes;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 24px;
    color: #c82828;
    content: "\f110";
}

nav#DialogueNav .lightbox {
    width: 80%;
    height: 80%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

nav#DialogueNav .lightbox .lightbox-exit {
    position: absolute;
    top: 10px;
    right: 10px;
    background: 0;
    border: 0;
}

nav#DialogueNav .lightbox .lightbox-exit::before {
    font-size: 30px;
    color: #fff;
    content: "\f00d";
}

nav#DialogueNav .confirm-content textarea {
    margin-bottom: 10px;
    width: 100%;
    height: 200px;
    border-radius: 3px;
    border-color: #ccc;
    outline: 0;
    resize: vertical;
}

nav#DialogueNav .confirm-footer {
    padding: 5px 10px;
    border-top: 1px solid #ccc;
    text-align: right;
}

nav#DialogueNav section.alert .confirm-footer {
    text-align: center;
}

nav#DialogueNav .confirm-footer button {
    padding: 5px 10px;
    border: 0;
    color: #fff;
}

nav#DialogueNav .confirm-footer button.confirm-confirm {
    background-color: #c82828;
}

nav#DialogueNav .confirm-footer button.confirm-deny {
    background-color: #5f5f71;
}

nav#DialogueNav section.cropper input[type=file] {
    display: none;
}

nav#DialogueNav .confirm-content-cropper {
    padding-bottom: 10px;
    height: 400px;
    text-align: center;
}