.dock {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    width: 75%;
    background-color: #faf4ef;
}

.dock .dock-cover,
.dock .dock-menu {
    border-color: #ddd;
    border-style: solid;
    border-left-width: 1px;
    border-right-width: 1px;
}

.dock .dock-cover {
    position: relative;
    width: 100%;
    height: 20vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dock .dock-cover-mark {
    position: absolute;
    top: 20px;
    left: 40px;
    border-radius: 10px;
    transition-duration: 200ms;
    transition-property: padding, background-color;
    cursor: pointer;
}

.dock .dock-cover-mark::before {
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
    color: #fff;
    content: "\f030";
}

.dock .dock-cover-mark:hover,
.dock .dock-cover:hover + .dock-cover-mark {
    padding: 5px 10px;
    background-color: rgba(0, 0, 0, 0.3);
}

.dock .dock-cover-mark > span {
    display: none;
    font-size: 13px;
    color: #fff;
}

.dock .dock-cover-mark:hover > span,
.dock .dock-cover:hover + .dock-cover-mark > span {
    display: inline-block;
}

.dock .dock-cover::after {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 6vw;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.2));
    content: "";
}

.dock .dock-name {
    position: absolute;
    bottom: 60px;
    left: 230px;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}

.dock .dock-menu {
    position: relative;
    padding-left: 210px;
    height: 36px;
    border-bottom-width: 1px;
    font-size: 0;
}

.dock .dock-menu .dock-menu-item {
    display: inline-block;
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    background-color: #faf4ef;
    border-radius: 0;
    border-width: 0;
    border-color: #ccc;
    border-style: solid;
    border-right-width: 1px;
    line-height: 36px;
    font-size: 13px;
    color: #3A3A3A;
    cursor: pointer;
}

.dock .dock-menu .dock-menu-item:hover {}

.dock .dock-menu .dock-menu-item::before {
    margin-right: 3px;
}

.dock .dock-menu .dock-menu-item:first-of-type {
    border-left-width: 1px;
}

.dock .dock-menu .dock-friend-add {}

.dock .dock-menu .dock-friend-add::before {
    content: "\f234";
}

.dock .dock-menu .dock-friend-status::before,
.dock .dock-menu .dock-group-status::before {
    content: "\f00c";
    cursor: default;
}

.dock .dock-menu .dock-friend-status {}

.dock .dock-menu .dock-group-join::before {
    content: "\f0fe";
}

.dock .dock-menu .dock-friend-select,
.dock .dock-menu .dock-friend-select button {
    background-color: #faf4ef;
}

.dock .dock-menu .dock-friend-select:hover,
.dock .dock-menu .dock-friend-status:hover + .dock-friend-select {
    display: block;
}

.dock .dock-menu .dock-friend-select {
    display: none;
    position: absolute;
    top: 35px;
    left: 220px;
    z-index: 10;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid #ccc;
}

.dock .dock-menu .dock-friend-select button {
    padding: 6px 20px;
    width: 100%;
    border: 0;
    text-align: left;
}

.dock .dock-avatar {
    position: absolute;
    left: 40px;
    bottom: 10px;
    width: 150px;
    height: 150px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #fff;
    border: 1px solid #ddd;
}

.dock .dock-avatar > span {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 32px;
    padding-right: 5px;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 13px;
    cursor: pointer;
    color: #fff;
}

.dock .dock-avatar:hover > span {
    display: block;
}

.dock .dock-avatar > span::before {
    position: absolute;
    top: 50%;
    left: 10px;
    margin-top: -6px;
    content: "\f030";
}

.dock .dock-avatar > span > * {
    display: inline-block;
}

@media (max-width: 800px) {

    .dock {
    }

    .dock .dock-cover {
        height: 300px;
        background-size: auto 100%;
    }

    .dock .dock-name {
        top: 230px;
        bottom: auto;
        left: auto;
        width: 100%;
        text-align: center;
    }

    .dock .dock-menu {
        padding-left: 0;
    }

    .dock .dock-avatar {
        top: 50px;
        bottom: auto;
        left: 50%;
        margin-left: -75px;
    }

    .dock .dock-menu .dock-menu-item {
        padding-left: 14px;
        padding-right: 14px;
    }

}