footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
    height: 60px;
    background-color: #343442;
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

footer #FooterCopyright {
    display: inline-block;
    height: 100%;
}

footer #FooterCopyright::after {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}

footer #FooterCopyrightText,
footer #FooterCopyrightQr {
    display: inline-block;
    vertical-align: middle;
}

footer #FooterCopyrightText {}

footer #FooterCopyrightQr img {
    height: 40px;
}

@media (max-width: 800px) {

    footer {
        padding-bottom: 20px;
        height: auto;
        font-size: 12px;
    }

    footer #FooterCopyright {
        line-height: 40px;
    }

    footer #FooterCopyright::after {
        display: none;
    }

}