.groupmember {}

.groupmember .groupmember-header {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 24px;
}

.groupmember .groupmember-header::before {
    margin-right: 10px;
    content: "\f0c0";
}

.groupmember .groupmember-content {
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    font-size: 0;
}

.groupmember .groupmember-content-prefix,
.groupmember .groupmember-content-suffix {
    display: inline-block;
    vertical-align: top;
    font-size: initial;
}

.groupmember .groupmember-content-prefix {
    padding: 20px;
    width: 60%;
    min-height: 200px;
    border-right: 1px solid #ccc;
}

.groupmember .groupmember-content-suffix {
    display: none;
    width: 40%;
}

.groupmember .groupmember-item {
    position: relative;
    padding-left: 80px;
    height: 60px;
}

.groupmember .groupmember-item + .groupmember-item {
    margin-top: 20px;
}

.groupmember .groupmember-item-avatar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    background-size: cover;
    border-radius: 40px;
    border: 1px solid #ccc;
}

.groupmember .groupmember-item-name {
    display: block;
    margin-right: 70px;
    padding-top: 10px;
    line-height: 24px;
    font-size: 18px;
    color: #365bd4;
}

.groupmember .groupmember-item-type,
.groupmember .groupmember-item-recruiter {
    display: inline-block;
}

.groupmember .groupmember-item-type {
    margin-right: 6px;
    font-size: 14px;
}

.groupmember .groupmember-item-type::before {
    margin-right: 6px;
    font-size: 12px;
}

.groupmember .groupmember-item-type-owner::before {
    content: "\f123";
}

.groupmember .groupmember-item-type-member::before {
    /*content: "\f007";*/
}

.groupmember .groupmember-item-recruiter {
    padding: 2px 4px;
    border-radius: 3px;
    border: 1px solid #aaa;
    font-size: 12px;
}

.groupmember .groupmember-item-allow,
.groupmember .groupmember-item-cancel,
.groupmember .groupmember-item-option {
    position: absolute;
}

.groupmember .groupmember-item-cancel,
.groupmember .groupmember-item-option {
    right: 0;
}

.groupmember .groupmember-item-allow,
.groupmember .groupmember-item-cancel {
    top: 18px;
    width: 50px;
    border-radius: 3px;
    border: 0;
    color: #fff;
}

.groupmember .groupmember-item-allow {
    right: 56px;
    background-color: #c82828;
}

.groupmember .groupmember-item-cancel {
    background-color: #ccc;
}

.groupmember .groupmember-item-option {
    top: 18px;
    border-radius: 3px
}

.groupmember .groupmember-item-option::before {
    content: "\f141";
    color: #ccc;
}

.groupmember .groupmember-item-option-select {
    position: absolute;
    top: 40px;
    right: 0;
    z-index: 10;
    padding-top: 6px;
    padding-bottom: 6px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.groupmember .groupmember-item-option-select button {
    display: block;
    padding: 4px 16px;
    width: 100%;
    border: 0;
    text-align: left;
}

.groupmember .groupmember-item-option-select button:hover {
    background-color: #c82828;
    color: #fff;
}

.groupmember .groupmember-item-torecruiter {
    position: absolute;
    top: 18px;
    right: 0;
    padding: 5px 10px;
    background-color: #c82828;
    border-radius: 3px;
    font-size: 11px;
    color: #fff;
}

.groupmember .groupmember-extra {

}

.groupmember .groupmember-extra-header,
.groupmember .groupmember-extra-content {
    border-bottom: 1px solid #ccc;
}

.groupmember .groupmember-extra-header {
    padding-left: 20px;
    height: 50px;
    line-height: 50px;
}

.groupmember .groupmember-extra-content {
    background-color: #f1f1f1;
}

.groupmember .groupmember-extra-item {
    padding: 16px 12px;
}

.groupmember .groupmember-extra-item-header {
    font-weight: bold;
}

.groupmember .groupmember-extra-item-content {
    position: relative;
    overflow: hidden;
    margin-top: 6px;
}

.groupmember .groupmember-extra-item-content > input,
.groupmember .groupmember-extra-item-content > button {
    float: left;
}

.groupmember .groupmember-extra-item-content > input {
    padding-left: 8px;
    padding-right: 70px;
    width: 100%;
    height: 30px;
    border-radius: 3px;
}

.groupmember .groupmember-extra-item-content > button {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 60px;
    background-color: #c82828;
    border-radius: 3px;
    font-size: 16px;
    color: #fff;
}

.groupmember .groupmember-extra-item-content > span {
    font-size: 12px;
}