.groupedit {}

.groupedit .groupedit-block {}

.groupedit .groupedit-block-header {
    padding-bottom: 10px;
    margin-bottom: 30px;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
}

.groupedit .groupedit-block-header::before {
    margin-right: 10px;
    content: "\f044";
}

.groupedit .groupedit-block-content {}

.groupedit .groupedit-block-item {}

.groupedit .groupedit-description {}

.groupedit .groupedit-privacy {}

.groupedit .groupedit-block-item + .groupedit-block-item {
    margin-top: 40px;
}

.groupedit .groupedit-block-item-label {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.groupedit .groupedit-block-item-label::before {
    margin-right: 8px;
    font-size: 14px;
}

.groupedit .groupedit-title .groupedit-block-item-label::before {
    content: "\f02b";
}

.groupedit .groupedit-description .groupedit-block-item-label::before {
    content: "\f2bc";
}

.groupedit .groupedit-privacy .groupedit-block-item-label::before,
.groupedit .groupedit-status .groupedit-block-item-label::before {
    content: "\f013";
}

.groupedit .groupedit-block-item-content {}

.groupedit .groupedit-block-item-content + .groupedit-block-item-content {
    margin-top: 14px;
}

.groupedit .groupedit-block-item-content > div {
    font-size: 13px;
}

.groupedit .groupedit-block-item-content > input,
.groupedit .groupedit-block-item-content textarea {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

.groupedit .groupedit-block-item-content textarea {
    height: 100px;
    border-color: #ccc;
    outline: 0;
    resize: vertical;
}

.groupedit .groupedit-block-item-content > span {
    display: block;
    padding: 8px 12px;
    width: 100%;
    background-color: #c82828;
    border-radius: 3px;
    font-size: 14px;
    color: #fff;
}

.groupedit .groupedit-block-item-content > label {
    display: block;
    font-size: 14px;
}

.groupedit .groupedit-block-item-content > label > span:first-of-type::before {
    margin-right: 6px;
}

.groupedit label.groupedit-privacy-public > span:first-of-type::before,
.groupedit label.groupedit-status-enable > span:first-of-type::before {
    content: "\f0ac";
}

.groupedit label.groupedit-privacy-private > span:first-of-type::before,
.groupedit label.groupedit-status-disable > span:first-of-type::before {
    content: "\f023";
}

.groupedit .groupedit-block-item-content > label + label {
    margin-top: 10px;
}

.groupedit .groupedit-block-item-content > label > span:last-of-type {
    display: block;
    margin-top: 2px;
    padding-top: 2px;
    border-top: 1px solid #ccc;
}

.groupedit .groupedit-block-footer {
    margin-top: 40px;
}

.groupedit .groupedit-block-footer button {
    padding: 6px 20px;
    background-color: #c82828;
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
}