header,
header .header-setting .header-setting-select,
header .header-search-result {
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
}

header,
header #HeaderSuffix {
    background-color: #c82828;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    color: #fff;
    z-index: 100;
}

header #HeaderPrefix,
header #HeaderSuffix {
    position: relative;
    height: 100%;
}

header #HeaderPrefix {
    float: left;
}

header #HeaderLogo,
header #HeaderSearch,
header #HeaderSettin {
    float: left;
}

header #HeaderLogo {
    position: relative;
    margin-left: 60px;
    width: 100px;
    height: 100%;
}

header #HeaderLogo::before,
header #HeaderLogo::after,
header #HeaderSearch button,
header #HeaderSearch button::after {
    transition-duration: 300ms;
}

header #HeaderLogo::before,
header #HeaderLogo::after {
    display: block;
    width: 100%;
    height: 100%;
    background-position: left center;
    background-size: auto 24px;
    background-repeat: no-repeat;
    transition-property: opacity;
    content: "";
}

header #HeaderLogo::before {
    background-image: url("../image/header-logo-f.png");
}

header #HeaderLogo::after {
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../image/header-logo-n.png");
}

header #HeaderLogo::after,
header #HeaderLogo:hover::before {
    opacity: 0;
}

header #HeaderLogo:hover::after {
    opacity: 1;
}

header #HeaderSearch {
    margin-top: 8px;
    height: 24px;
}

header #HeaderSearch input,
header #HeaderSearch button {
    float: left;
    border: 0;
    outline: 0;
}

header #HeaderSearch input {
    padding-left: 10px;
    width: 360px;
    height: 100%;
    background-color: #fff;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

header #HeaderSearch button {
    width: 70px;
    height: 100%;
    background-color: #faf4ef;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition-property: background-color;
    cursor: pointer;
}

header #HeaderSearch button:hover {
    background-color: #f5efea;
}

header #HeaderSearch button::after {
    font-family: FontAwesome;
    content: "\f002";
}

header #HeaderSearch button:hover::after {
    opacity: 0.5;
}

header .header-search-result {
    position: absolute;
    top: 40px;
    left: 180px;
    min-width: 360px;
    background-color: #fff;
}

header .header-search-result-item {
    display: block;
    padding: 6px 10px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

header .header-search-result-item:hover {
    background-color: #c82828;
    color: #fff;
}

header .header-search-result-item + .header-search-result-item {
    border-top: 1px solid #ccc;
}

header #HeaderSuffix {
    float: right;
    padding-right: 30px;
}

header #HeaderSuffix .header-suffix-item,
header #HeaderSuffix .header-suffix-item::after,
header .header-setting .header-setting-handler,
header .header-setting .header-setting-handler::after,
header .header-setting .header-setting-select .header-setting-item,
header .header-setting .header-setting-select .header-setting-item::after {
    vertical-align: middle;
}

header #HeaderSuffix .header-suffix-item::after,
header .header-setting .header-setting-handler::after,
header .header-setting .header-setting-select .header-setting-item::after {
    display: inline-block;
    height: 100%;
    content: "";
}

header #HeaderSuffix .header-suffix-item,
header .header-setting {
    height: 100%;
    float: left;
    text-align: center;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    cursor: pointer;
}

header #HeaderSuffix .header-suffix-item {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}

header #HeaderSuffix .header-suffix-item::before {
    position: absolute;
    top: 12px;
    right: 0;
    height: 16px;
    border-left: 1px solid #fff;
    content: "";
}

header #HeaderSuffix .header-user {}

header #HeaderSuffix .header-user-avatar,
header #HeaderSuffix .header-user-name {
    display: inline-block;
    vertical-align: middle;
}

header #HeaderSuffix .header-user-avatar {
    margin-right: 2px;
    width: 24px;
    height: 24px;
    background-size: cover;
    border-radius: 12px;
}

header .header-setting .header-setting-handler {
    width: 100%;
    height: 100%;
    text-align: center;
}

header .header-setting .header-setting-select {
    display: none;
    position: absolute;
    right: 0;
    margin-top: -3px;
    width: 120px;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
    color: #333;
}

header .header-setting .header-setting-select.work {
    display: block;
}

header .header-setting .header-setting-select::before {
    position: absolute;
    top: -16px;
    right: 30px;
    font-size: 24px;;
    color: #fff;
    content: "\f0d8";
}

header .header-setting .header-setting-select .header-setting-item {
    padding: 12px 10px;
    width: 100%;
    border-color: #ccc;
    border-style: solid;
    text-align: center;
    transition-property: background-color, color;
}

header .header-setting .header-setting-select .header-setting-item + .header-setting-item {
    border-top-width: 1px;
}

header .header-setting .header-setting-select .header-setting-item {
    display: block;
}

header .header-setting .header-setting-select .header-setting-item:hover {
    color: #981818;
}

@media (max-width: 800px) {

    header {
        height: 80px;
    }

    header #HeaderPrefix,
    header #HeaderSuffix {
        height: 50%;
    }

    header #HeaderPrefix {
        width: 100%;
        border-bottom: 1px solid #642
    }

    header #HeaderPrefix #HeaderLogo {
        margin-left: 30px;
        width: 120px;
    }

    header #HeaderPrefix #HeaderSearch {
        position: absolute;
        left: 120px;
        right: 24px;
        padding-right: 70px;
    }

    header #HeaderPrefix #HeaderSearch input {
        width: 100%;
    }

    header #HeaderPrefix #HeaderSearch button {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        height: auto;
    }

    header #HeaderSuffix {
        /*text-align: right;*/
    }

}