section#HomeCover {
    position: relative;
}

section#HomeCover #HomeCoverContent {
    overflow: hidden;
    width: 100%;
}

section#HomeCover #HomeCoverItems,
section#HomeCover #HomeCoverArrows .home-cover-arrow,
section#HomeCover .home-cover-menu-item {
    transition-duration: 300ms;
}

section#HomeCover #HomeCoverItems {
    transition-property: margin-left;
}

section#HomeCover .home-cover-item {
    position: relative;
    float: left;
}

section#HomeCover .home-cover-item-image img {
    width: 100%;
}

section#HomeCover .home-cover-item-letter {
    position: absolute;
    bottom: 40px;
    right: 50px;
    font-size: 24px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #fff;
}

section#HomeCover #HomeCoverArrows {}

section#HomeCover #HomeCoverArrows .home-cover-arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    vertical-align: middle;
    opacity: 0;
    transition-property: opacity;
    cursor: pointer;
}

section#HomeCover #HomeCoverArrows .home-cover-arrow:hover {
    opacity: 1;
}

section#HomeCover #HomeCoverArrows #HomeCoverArrowPrev {
    left: 0;
}

section#HomeCover #HomeCoverArrows #HomeCoverArrowNext {
    right: 0;
}

section#HomeCover #HomeCoverArrows .home-cover-arrow::before,
section#HomeCover #HomeCoverArrows .home-cover-arrow::after {
    display: inline-block;
    vertical-align: middle;
}

section#HomeCover #HomeCoverArrows .home-cover-arrow::before {
    font-size: 30px;
    color: #fff;
}

section#HomeCover #HomeCoverArrows .home-cover-arrow::after {
    height: 100%;
    content: "";
}

section#HomeCover #HomeCoverArrows #HomeCoverArrowPrev::before {
    content: "＜";
}

section#HomeCover #HomeCoverArrows #HomeCoverArrowNext::before {
    content: "＞";
}

section#HomeCover #HomeCoverMenu {
    position: absolute;
    top: 16px;
    left: 0;
    right: 0;
    height: 20px;
    text-align: center;
}

section#HomeCover .home-cover-menu-item {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    border: 1px solid rgba(256, 256, 256, 0.5);
    transition-property: background-color, transform;
    transform-origin: center center;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

section#HomeCover .home-cover-menu-item:hover,
section#HomeCover .home-cover-menu-item.work {
    background-color: rgba(256, 256, 256, 0.6);
}

section#HomeCover .home-cover-menu-item.work {
    background-color: #fff;
    transform: scale(1.2);
}

section#HomeVideo {}

section#HomeVideo .home-section-title {
    padding-top: 18px;
    height: 60px;
    background-color: #fff;
}

section#HomeVideo #HomeVideoCotent {
    overflow: hidden;
    width: 100%;
}

section#HomeVideo #HomeVideoItems {
    width: 200%;
}

section#HomeVideo .home-video-item {
    position: relative;
    float: left;
    width: 16.66%;
}

section#HomeVideo .home-video-item img {
    width: 100%;
}

section#HomeVideo #HomeVideoMenu {
    padding-top: 16px;
    height: 50px;
    background-color: #fff;
    text-align: center;
}

section#HomeVideo #HomeVideoMenu .home-video-menu-item {
    display: inline-block;
    margin-left: 6px;
    margin-right: 6px;
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #444;
}

section#HomeNews,
section#HomeWorld,
section#HomeConsumer,
section#HomeSchools {
    height: 380px;
}

section#HomeNews {
    float: right;
    padding: 30px 40px 0;
    width: 33.33%;
    background-color: #c82828;
    color: #fff;
}

section#HomeConsumer .home-section-title,
section#HomeNews .home-section-title {
    height: 50px;
}

section#HomeNews #HomeNewsList {}

section#HomeNews #HomeNewsList .home-news-item {
    height: 40px;
    border-bottom: 1px solid #fff;
    line-height: 40px;
    overflow: hidden;
}

section#HomeNews #HomeNewsOption {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

section#HomeWorld {
    float: left;
    padding-top: 40px;
    width: 66.67%;
    background-color: rgba(249, 245, 238, 0.9);
    text-align: center;
}

section#HomeWorld .home-section-title {
    margin-bottom: 40px;
}

section#HomeConsumer {
    padding-top: 40px;
    float: left;
    width: 33.33%;
    background-color: #343442;
    color: #fff;
}

section#HomeSchools {
    padding-top: 20px;
    padding-left: 50px;
    float: right;
    width: 66.67%;
    background-color: #fff;
}

section#HomeSchools #HomeSchoolsContent {
    overflow: hidden;
}

section#HomeSchools .home-schools-item,
section#HomeSchools .home-schools-item-text {
    border-style: solid;
    border-color: #aaa;
}

section#HomeSchools .home-schools-item {
    position: relative;
    float: left;
    margin-left: 20px;
    width: 16%;
    height: 150px;
    border-width: 1px;
}

section#HomeSchools .home-schools-item:nth-of-type(5n+1) {
    margin-left: 0;
}

section#HomeSchools .home-schools-item:nth-of-type(n-5) {
    margin-top: 10px;
}

section#HomeSchools .home-schools-item:nth-of-type(6) {
    clear: left;
}

section#HomeSchools .home-schools-item-image {
    padding-top: 10px;
}

section#HomeSchools .home-schools-item-image img {
    margin: auto;
    width: 90%;
    max-width: 90px;
}

section#HomeSchools .home-schools-item-text {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 40px;
    font-size: 12px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-top-width: 1px;
    background-color: #fff;
}

section#HomeSchools #HomeSchoolsOption {
    margin-top: 10px;
}

section#HomeApps {
    clear: both;
    height: 220px;
    background-color: rgba(249, 245, 238, 1);
    background-position: right bottom;
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-image: url("../image/home-apps-tmp.png");
}

section#HomeApps::before,
section#HomeApps::after {
    display: inline-block;
    vertical-align: middle;
}

section#HomeApps::before {
    margin-left: 200px;
    font-size: 48px;
    content: "coming soon...";
}

section#HomeApps::after {
    height: 100%;
    content: "";
}

section#HomeContact {
    position: relative;
    height: 200px;
    background-color: #fff;
}

section#HomeContact #HomeContactPrefix,
section#HomeContact #HomeContactSuffix {
    width: 50%;
    height: 100%;
    float: left;
    text-align: center;
}

section#HomeContact #HomeContactPrefix {
    padding-top: 40px;
}

section#HomeContact #HomeContactPrefix::after {
    position: absolute;
    left: 50%;
    top: 10%;
    bottom: 10%;
    border-color: #333;
    border-style: solid;
    border-width: 0;
    border-left-width: 1px;
    content: "";
}

section#HomeContact #HomeContactSuffix {
    padding-top: 20px;
}

section#HomeContact .home-contact-letter {
    margin-bottom: 10px;
    font-size: 22px;
}

section#HomeContact .home-contact-links {
    margin-bottom: 20px;
    clear: both;
    overflow: hidden;
    text-align: center;
}

section#HomeContact .home-contact-icon {
    display: inline-block;
    width: 70px;
    height: 50px;
    background-position: center top;
    background-repeat: no-repeat;
    font-size: 14px;
}

section#HomeContact .home-contact-icon::after {
    display: inline-block;
    height: 100%;
    vertical-align: baseline;
    content: "";
    cursor: pointer
}

section#HomeContact #HomeContactIconA {
    background-image: url(../image/home-contact-link-tmp1.png);
}

section#HomeContact #HomeContactIconB {
    background-image: url(../image/home-contact-link-tmp2.png);
}

section#HomeContact #HomeContactIconC {
    background-image: url(../image/home-contact-link-tmp3.png);
}

section#HomeContact #HomeContactIconD {
    background-image: url(../image/home-contact-link-tmp4.png);
}

section#HomeContact #HomeContactIconE {
    background-image: url(../image/home-contact-link-tmp5.png);
}

section#HomeContact #HomeContactIconF {
    background-image: url(../image/home-contact-link-tmp6.png);
}

section#HomeContact #HomeContactSubscribe {
    margin-bottom: 10px;
}

section#HomeContact #HomeContactSubscribe input,
section#HomeContact #HomeContactSubscribe button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 30px;
}

section#HomeContact #HomeContactSubscribe input {
    margin-bottom: 10px;
    outline: 0;
    text-align: center;
}

section#HomeContact #HomeContactSubscribe button {
    background-color: #fff;
    border-radius: 0;
}

section#HomeExtra {
    height: 50px;
    background-color: #000;
}

section#HomeExtra > button {
    display: block;
    float: left;
    width: 33.33%;
    height: 100%;
    background-color: transparent;
    border: 0;
    color: #fff;
}

.home-section-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
}

.home-section-letter {
    line-height: 20px;
    font-size: 14px;
    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

@media (max-width: 800px) {

    section#HomeNews,
    section#HomeWorld,
    section#HomeConsumer,
    section#HomeSchools {
        float: none;
        width: 100%;
    }

    section#HomeNews {
        padding-left: 100px;
        padding-right: 100px;
    }

    section#HomeWorld,
    section#HomeConsumer {
        padding-bottom: 60px;
        height: auto;
    }

    section#HomeSchools {
        padding-bottom: 20px;
        height: auto;
    }

    section#HomeSchools .home-schools-item {
        width: 25%;
        height: 130px;
    }

    section#HomeSchools .home-schools-item:nth-of-type(5n+1) {
        margin-left: 20px;
    }

    section#HomeSchools .home-schools-item:nth-of-type(3n+1) {
        margin-left: 0;
        clear: left;
    }

    section#HomeSchools .home-schools-item:nth-of-type(n+10) {
        display: none;
    }

    section#HomeSchools .home-schools-item:nth-of-type(6) {
        clear: none;
    }

    section#HomeApps {
        padding-top: 24px;
        height: 260px;
        background-size: auto 80%;
        text-align: center;
    }

    section#HomeApps::before {
        display: block;
        margin-left: auto;
        margin-right: auto;
        font-size: 26px;
    }

    section#HomeContact {
        height: auto;
    }

    section#HomeContact #HomeContactPrefix,
    section#HomeContact #HomeContactSuffix {
        float: none;
        width: 100%;
    }

    section#HomeContact #HomeContactPrefix::after {
        display: none;
    }

}