.langpicker {}

.langpicker:first-of-type:last-of-type {
    margin-left: 25%;
}

.langpicker .langpicker-block {
    padding: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.langpicker .langpicker-block-header {
    margin-bottom: 10px;
    padding-left: 6px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
}

.langpicker .langpicker-block-content {}

.langpicker .langpicker-block-content button {
    padding: 10px 15px;
    font-size: 14px;
}

.langpicker .langpicker-block-content button.work {
    background-color: #c82828;
    color: #fff;
}

.langpicker .langpicker-block-content button + button {
    margin-left: 10px;
}