nav#DialogueNav section#DialogueLogin {
    margin: auto;
    width: 100%;
    height: 75%;
    background-color: #fff;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/asset/image/home-cover-picture3.jpg");
    text-align: left;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginPrefix,
nav#DialogueNav section#DialogueLogin #DialogueLoginSuffix {
    padding-top: 7%;
    height: 100%;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginPrefix {
    float: left;
    padding-left: 10%;
    width: 66.66%;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginSuffix {
    position: relative;
    float: right;
    padding-right: 10%;
    width: 33.33%;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginSub {
    font-size: 24px;
    color: #fff;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginLetter {
    margin-top: 20px;
    font-size: 14px;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginTitle {
    font-size: 48px;
    color: #fff;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginForm {
    margin-top: 30px;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginForm input,
nav#DialogueNav section#DialogueLogin #DialogueLoginForm button {
    width: 100%;
    clear: both;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginForm input {
    padding-left: 10px;
    height: 36px;
    border: 1px solid #ccc;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginForm input + input {
    border-top: 0;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginForm button {
    margin-top: 10px;
    border-radius: 0;
    height: 24px;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginForm #DialogueLoginError {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f55;
    font-size: 12px;
    color: #fff;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginForm #DialogueLoginError.work {
    display: block;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginExit {
    position: absolute;
    right: 20px;
    top: -40px;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginExit button {
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: 0;
}

nav#DialogueNav section#DialogueLogin #DialogueLoginExit button::before,
nav#DialogueNav section#DialogueLogin #DialogueLoginExit button::after {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    height: 20px;
    border-left: 1px solid #fff;
    content: "";
}

nav#DialogueNav section#DialogueLogin #DialogueLoginExit button::before {
    transform: rotateZ(45deg);
}

nav#DialogueNav section#DialogueLogin #DialogueLoginExit button::after {
    transform: rotateZ(-45deg);
}