.newgroup {}

.newgroup .newgroup-block {}

.newgroup .newgroup-block-header {
    margin-bottom: 10px;
    padding: 10px 10px 20px;
    border-bottom: 1px solid #ccc;
    font-size: 24px;
}

.newgroup .newgroup-block-header::before {
    margin-right: 10px;
    content: "\f0c0";
}

.newgroup .newgroup-block-content {}

.newgroup .newgroup-block-item {}

.newgroup .newgroup-block-item + .newgroup-block-item {
    margin-top: 10px;
}

.newgroup .newgroup-block-item-label {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
}

.newgroup .newgroup-block-item-content {}

.newgroup .newgroup-block-item-content > label {
    display: inline-block;
    padding: 6px 15px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 13px;
}

.newgroup .newgroup-block-item-content > label > input[type=radio] {
    margin-left: 20px;
}

.newgroup .newgroup-block-item-content > label + label {
    margin-left: 10px;
}

.newgroup .newgroup-block-item-content > label::before {
    content: "\f0c0";
}

.newgroup label.newgroup-type-school::before {
    content: "\f1ab";
}

.newgroup label.newgroup-type-dept::before {
    content: "\f19d";
}

.newgroup label.newgroup-type-business::before {
    content: "\f1ad";
}

.newgroup .newgroup-block-item-content > span {
    display: block;
    font-size: 12px;
    color: #c82828;
}

.newgroup .newgroup-block-item-content > * + span {
    margin-top: 6px;
}

.newgroup .newgroup-block-item-content > input {
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

.newgroup .newgroup-block-item > button {
    padding: 6px;
    width: 100px;
    background-color: #c82828;
    font-size: 14px;
    color: #fff;
}