.notification {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-left: 5px;
    padding-right: 5px;
    width: 25%;
    background-color: #fff;
    border-color: rgb(53, 53, 67);
    border-style: solid;
    border-left-width: 10px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.3);
}

.notification .notification-block {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #fff;
}

.notification .notification-block-title {
    padding-bottom: 7px;
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    font-size: 13px;
}

.notification .notification-block-content {
    margin-top: 10px;
}

.notification .notification-item {
    padding: 6px;
    width: 100%;
    background-color: #eee;
    border-radius: 3px;
    border: 0;
    text-align: left;
    font-size: 13px;
}

.notification .notification-item:hover {
    background-color: #c82929;
    color: #fff;
}

.notification .notification-conference .notification-item,
.notification .notification-meeting .notification-item {
    background-color: transparent;
}

.notification .notification-meeting .notification-item {
    border: 1px solid #ccc;
}

.notification .notification-meeting .notification-item:hover,
.notification .notification-conference .notification-item:hover {
    color: initial;
}

.notification .notification-conference .notification-item {
    padding: 0;
}

.notification .notification-item + .notification-item {
    margin-top: 10px;
}

.notification .notification-meeting .notification-item .notification-item-content {
    position: relative;
    padding-left: 70px;
}

.notification .notification-meeting .notification-item span,
.notification .notification-meeting .notification-item small {
    display: block;
}

.notification .notification-item span {
    margin-bottom: 6px;
    vertical-align: middle;
}

.notification .notification-item small {
    margin-bottom: 6px;
    font-size: 11px;
}

.notification .notification-meeting .notification-item small,
.notification .notification-conference .notification-item small {
    padding: 5px;
    background-color: #c82929;
    border-radius: 3px;
    color: #fff;
}

.notification .notification-conference .notification-item small {
    display: block;
}

.notification .notification-item button {
    margin-top: 6px;
    padding: 4px 20px;
    border-radius: 3px;
    font-size: 13px;
}

.notification .notification-meeting .notification-item button {
    border: 0;
    background-color: #5f5f71;
    color: #fff;
}

.notification .notification-meeting .notification-item button:first-of-type {
    background-color: #c82929;
}

.notification .notification-item img {
    display: inline-block;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    vertical-align: middle;
}

.notification .notification-meeting .notification-item img {
    position: absolute;
    left: 0px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
}

.notification .notification-block-empty {
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 13px;
}

.notification .notification-block.empty .notification-block-empty {
    display: block;
}
