section.pedia {
    padding: 20px 20px 40px;
}

section.pedia .pedia-container {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

section.pedia table {
    width: 100%;
}

section.pedia table thead {
    background-color: #ddd;
    line-height: 24px;
    text-align: left;
    font-size: 11px;
    font-weight: bold;
    color: #777;
}

section.pedia table th,
section.pedia table td {
    padding: 5px 7px;
}

section.pedia table thead th {
    width: 33%;
}

section.pedia table thead th:first-of-type {
    width: 300px;
    text-align: right;
}

section.pedia table thead th:last-of-type {
    width: 30px;
}

section.pedia table tbody {
    font-size: 12px;
}

section.pedia table tbody tr {
    border-bottom: 1px solid #ccc;
}

section.pedia table tbody td {
    vertical-align: top;
}

section.pedia table textarea {
    padding: 0;
    width: 100%;
    border: 0;
    outline: 0;
    resize: vertical;
}

section.pedia table tbody td:first-of-type {
    background-color: #ebebeb;
    text-align: right;
}

section.pedia table td:last-of-type {
    vertical-align: middle
}

section.pedia table td button {
    position: relative;
}

section.pedia table td:last-of-type button {
    padding: 0;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    border-color: #ddd;
    outline: 0;
}

section.pedia table td:last-of-type button::before {
    font-size: 13px;
    content: "\f00c";
    color: #aaa;
}

section.pedia table td:last-of-type button:hover::before {
    color: #ccc;
}

section.pedia table tfoot td textarea {
    background-color: #f7f7f7;
    border-radius: 5px
}

section.pedia table tfoot td:last-of-type button::before {
    content: "\f067";
}

section.pedia table td:last-of-type button.working {
    pointer-events: none;
}

section.pedia table td:last-of-type button.working::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -5px;
    margin-left: -5px;
    animation-name: anibuttonworking;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 11px;
    content: "\f110";
}

@keyframes anibuttonworking {

    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }

}