.proffer {}

.proffer .proffer-block {
    border: 1px solid #ccc;
}

.proffer .proffer-block + .proffer-block {
    margin-top: 10px;
}

.proffer .proffer-block .proffer-block-header {
    height: 34px;
    background-color: #c82828;
    font-size: 14px;
    color: #fff;
}

.proffer .proffer-block.proffer-creator .proffer-block-header::before,
.proffer .proffer-block.proffer-qrcode .proffer-block-header-type::before {
    margin-left: 10px;
}

.proffer .proffer-block.proffer-creator .proffer-block-header::before {
    font-size: 12px;
    content: "\f2b5";
}

.proffer .proffer-block .proffer-block-header,
.proffer .proffer-block .proffer-block-header > * ,
.proffer .proffer-block .proffer-block-header::after,
.proffer .proffer-block .proffer-block-header-type,
.proffer .proffer-block .proffer-block-header-type > * ,
.proffer .proffer-block .proffer-block-header-type::after {
    vertical-align: middle;
}

.proffer .proffer-block .proffer-block-header > * ,
.proffer .proffer-block .proffer-block-header::after,
.proffer .proffer-block .proffer-block-header-type > * ,
.proffer .proffer-block .proffer-block-header-type::after {
    display: inline-block;
}

.proffer .proffer-block .proffer-block-header::after,
.proffer .proffer-block .proffer-block-header-type::after {
    height: 100%;
    content: "";
}

.proffer .proffer-block .proffer-block-header .proffer-block-header-type {
    width: 140px;
    height: 100%;
    background-color: #343442;
}

.proffer .proffer-block .proffer-block-header-type::before {
    margin-right: 10px;
    font-size: 12px;
    content: "\f19d"
}

.proffer .proffer-block.proffer-qrcode .proffer-qrcode-header-type-school::before {
    content: "\f2b5"
}

.proffer .proffer-block.proffer-qrcode .proffer-qrcode-header-type-business::before {
    content: "\f2b5"
}

.proffer .proffer-block.proffer-qrcode .proffer-block-header-letter {
    width: 40%;
    width: calc( 100% - 140px - 110px );
}

.proffer .proffer-block.proffer-qrcode .proffer-block-header-letter input {
    margin-top: -1px;
    width: 100%;
    height: 20px;
    border: 0;
    background-color: #a81818;
    font-size: 14px;
    color: #fff;
}

.proffer .proffer-block .proffer-block-header-options {
    margin-right: 10px;
    float: right;
    height: 100%;
}

.proffer .proffer-block .proffer-block-header-options > *,
.proffer .proffer-block .proffer-block-header-options::after {
    vertical-align: middle;
    display: inline-block;
}

.proffer .proffer-block .proffer-block-header-options::after {
    height: 100%;
    content: "";
}

.proffer .proffer-block.proffer-qrcode button.proffer-block-header-item {
    height: 20px;
    border: 0;
    background-color: #c82828;
    color: #fff;
}

.proffer .proffer-block.proffer-qrcode .proffer-qrcode-header-item-update:hover,
.proffer .proffer-block.proffer-qrcode .proffer-qrcode-header-item-delete:hover,
.proffer .proffer-block.proffer-qrcode .proffer-qrcode-header-item-modify:hover {
    background-color: #a81818;
    color: #ec8;
}

.proffer .proffer-block.proffer-qrcode .proffer-qrcode-header-item-update::before {
    font-size: 14px;
    content: "\f00c"
}

.proffer .proffer-block.proffer-qrcode .proffer-qrcode-header-item-delete::before {
    font-size: 14px;
    content: "\f014"
}

.proffer .proffer-block.proffer-qrcode .proffer-qrcode-header-item-modify::before {
    font-size: 14px;
    content: "\f040"
}

.proffer .proffer-block.proffer-qrcode .proffer-qrcode-header-item-modify.work::before {
    content: "\f00d";
}

.proffer .proffer-block.proffer-creator .proffer-block-content {
    height: 90px;
}

.proffer .proffer-creator .proffer-creator-mark,
.proffer .proffer-creator .proffer-creator-mark::before,
.proffer .proffer-creator .proffer-creator-mark::after {
    vertical-align: middle;
}

.proffer .proffer-creator .proffer-creator-mark {
    position: absolute;
    z-index: 1;
    width: 90px;
    height: 90px;
    background-color: #fff;
    border-right: 1px solid #ccc;
    text-align: center;
}

.proffer .proffer-creator .proffer-creator-mark::before,
.proffer .proffer-creator .proffer-creator-mark::after {
    display: inline-block;
}

.proffer .proffer-creator .proffer-creator-mark::before {
    padding-top: 3px;
    font-size: 90px;
    content: "\f029";
}

.proffer .proffer-creator .proffer-creator-mark::after {
    height: 100%;
    content: "";
}

.proffer .proffer-creator .proffer-creator-name,
.proffer .proffer-creator .proffer-creator-options {
    padding-left: 90px;
    width: 100%;
}

.proffer .proffer-creator .proffer-creator-name {
    height: 60px;
    background-color: #fff;
}

.proffer .proffer-creator .proffer-creator-name input {
    padding-bottom: 30px;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    border: 0;
    outline: 0;
}

.proffer .proffer-creator .proffer-creator-options {
    position: relative;
    padding-top: 2px;
    height: 30px;
    background-color: #f3f3f3;
    border-top: 1px solid #ccc;
}

.proffer .proffer-creator .proffer-creator-options > button {
    margin-left: 5px;
    margin-right: 5px;
    height: 24px;
    font-size: 14px;
}

.proffer .proffer-creator button.proffer-creator-target {

}

.proffer .proffer-creator button.proffer-creator-target::before {
    margin-right: 5px;
    font-size: 12px;
    content: "\f19d";
}

.proffer .proffer-creator button.proffer-creator-target.proffer-creator-target-school::before,
.proffer .proffer-creator button.proffer-creator-target.proffer-creator-target-business::before {
    content: "\f2b5";
}

.proffer .proffer-creator button.proffer-creator-target::after {
    margin-left: 4px;
    font-size: 12px;
    content: "\f0d7";
}

.proffer .proffer-creator button.proffer-creator-confirm {
    float: right;
    background-color: #c82828;
    border: 0;
    color: #fff;
}

.proffer .proffer-creator .proffer-creator-target-select {
    display: none;
    position: absolute;
    top: 27px;
    z-index: 10;
    left: 95px;
    width: 220px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.proffer .proffer-creator .proffer-creator-target-select.work {
    display: block;
}

.proffer .proffer-creator .proffer-creator-target-select > * {
    padding: 10px;
}

.proffer .proffer-creator button.proffer-creator-target-item {
    display: block;
    width: 100%;
    border-radius: 0;
    border: 0;
    text-align: left;
    font-size: 14px;
}

.proffer .proffer-creator button.proffer-creator-target-item:hover {
    background-color: #c82828;
    color: #fff;
}

.proffer .proffer-creator button.proffer-creator-target-item > *:first-of-type::before {
    margin-right: 5px;
    font-size: 12px;
}

.proffer .proffer-creator button.proffer-creator-target-item.proffer-creator-target-item-member > *:first-of-type::before {
    content: "\f19d";
}

.proffer .proffer-creator button.proffer-creator-target-item.proffer-creator-target-item-school > *:first-of-type::before,
.proffer .proffer-creator button.proffer-creator-target-item.proffer-creator-target-item-business > *:first-of-type::before {
    content: "\f2b5";
}

.proffer-qrcode {}

.proffer-qrcode .proffer-qrcode-info {
    height: 90px;
    padding: 10px;
    background-color: #fff;
}

.proffer-qrcode .proffer-qrcode-info-image {
    position: absolute;
    width: 70px;
    border: 1px solid #ccc;
}

.proffer-qrcode .proffer-qrcode-info-image img {
    width: 100%;
}

.proffer-qrcode .proffer-qrcode-info-content {
    padding-left: 80px;
}

.proffer-qrcode .proffer-qrcode-info-item {}

.proffer-qrcode .proffer-qrcode-info-item > * {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 24px;
}

.proffer-qrcode .proffer-qrcode-info-item-label {
    width: 120px;
    height: 24px;
    background-color: #343442;
    border-radius: 5px;
    text-align: center;
    font-size: 12px;
    color: #fff;
}

.proffer-qrcode .proffer-qrcode-info-item-letter {
    font-size: 10px;
}

.proffer-qrcode .proffer-user-item {
    position: relative;
    padding: 10px 16px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ccc;
}

.proffer-qrcode .proffer-user-item .proffer-user-item-title {
    height: 14px
    font-size: 14px;
}

.proffer-qrcode .proffer-user-item.work button.proffer-user-item-verify {
    display: none;
}

.proffer-qrcode .proffer-user-item button.proffer-user-item-verify {
    position: absolute;
    top: 6px;
    bottom: 6px;
    right: 10px;
}

.proffer-qrcode .proffer-user-item.work::after {
    position: absolute;
    right: 20px;
    top: 8px;
    content: "\f058";
}