.publicgroups {
    padding-top: 40px;
    padding-left: 20%;
    padding-right: 20%;
}

.publicgroups .publicgroups-header {}

.publicgroups .publicgroups-header .publicgroups-header-tab {
    display: none;
}

.publicgroups .publicgroups-header .publicgroups-header-tab label {
    display: inline-block;
    padding: 6px 12px;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 13px;
}

.publicgroups .publicgroups-header .publicgroups-header-tab label.work {
    background-color: #c82828;
    color: #fff;
}

.publicgroups .publicgroups-header .publicgroups-header-tab label + label {
    margin-left: 10px;
}

.publicgroups .publicgroups-header .publicgroups-header-letter {
    margin-top: 10px;
    padding: 10px 16px;
    width: 100%;
    background-color: #c82828;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}

.publicgroups .publicgroups-header .publicgroups-header-letter::before {
    margin-right: 10px;
    content: "\f19d";
}

.publicgroups .publicgroups-content {
    margin-top: 10px;
}

.publicgroups .publicgroups-item {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 160px;
    height: 160px;
    border: 1px solid #ccc;
    background-color: #fff;
    background-size: cover;
    background-repeat: no-repeat;
}

.publicgroups .publicgroups-item .publicgroups-item-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 6px;
    padding-right: 6px;
    height: 30px;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    white-space: nowrap;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    color: #fff;
}