.register,
.verify {
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("/asset/image/normal-background-image.png");
    text-align: center;
    vertical-align: top;
}

.register-block {
    display: inline-block;
    width: 450px;
    background-color: rgba(256, 256, 256, 0.6);
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: top;
}

.verify .register-block {
    width: 300px;
    min-height: 500px;
}

.register-block + .register-block {
    margin-left: 10px;
}

.register-block-header {
    height: 50px;
    background-color: #353543;
    color: #fff;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
}

.register-block-content {
    padding: 30px;
}

.register .register-block-content input,
.register .register-block-content select,
.register .register-block-content .register-item {
    padding-left: 10px;
    width: 100%;
    height: 36px;
    border-radius: 5px;
}

.register .register-block-content input + input,
.register .register-block-content input + .register-item,
.register .register-block-content .register-item + input,
.register .register-block-content .register-item + .register-item {
    margin-top: 20px;
}

.register .register-block-content .register-item {
    background-color: #fff;
    border: 1px solid #ccc;
    line-height: 36px;
    text-align: left;
    font-size: 12px;
}

.register .register-block-content .register-item > * {
    float: left;
    background: 0;
    border: 0;
    margin-top: -1px;
}

.register .register-block-content .register-item select {
    width: 40%;
}

.register .register-block-content .register-item input,
.register .register-block-content .register-item input + input {
    width: 50%;
}

.register .register-block-content .register-item select + input,
.register .register-block-content .register-item input + input {
    border-radius: 0;
    border-left: 1px solid #ccc;
}

.register .register-block-content .register-item select + input {
    width: 60%;
}

.register .register-error {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f55;
    font-size: 12px;
    color: #fff;
}

.register .register-error.work {
    display: block;
}

.register .register-block-footer {}

.register .register-block-footer button {
    width: 100%;
    height: 80px;
    background-color: #c82828;
    border-radius: 0;
    border: 0;
    font-size: 36px;
    color: #fff;
}

.register .register-block-footer button.working {
    position: relative;
    pointer-events: none;
    color: transparent;
}

.register .register-block-footer button.working::before {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -20px;
    margin-left: -20px;
    animation-name: ani-button-working;
    animation-duration: 1200ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    font-size: 40px;
    color: #fff;
    content: "\f110";
}

@keyframes ani-button-working {
    from {
        transform: rotateZ(0deg);
    }
    to {
        transform: rotateZ(360deg);
    }
}

.verify .verify-block-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
}

.verify .verify-block-letter {
    margin-bottom: 70px;
    line-height: 20px;
    font-size: 13px;
}

.verify .verify-block-options {}

.verify .verify-block-options button,
.verify .verify-block-options input {
    display: block;
    width: 100%;
    height: 30px;
    text-align: center;
}

.verify .verify-block-options button {
    background-color: #343442;
    font-size: 14px;
    color: #fff;
}

.verify .verify-block-options button:last-of-type {
    background-color: #c82828;
}

.verify .verify-block-options button + input,
.verify .verify-block-options input + button {
    margin-top: 10px;
}

.verify .verify-done::before {
    font-size: 80px;
    color: #1c8a21;
    content: "\f05d";
}