.resume {}

.resume .resume-block {
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
}

.resume .resume-block .resume-block-header {
    height: 60px;
    border-bottom: 1px solid #ccc;
    line-height: 60px;
    font-weight: bold;
    font-size: 20px;
}

.resume .resume-block .resume-block-header-options {
    position: absolute;
    top: 0;
    right: 16px;
}

.resume .resume-block .resume-block-header-item {
    padding: 4px 6px;
    border-radius: 5px;
    border: 0;
}

.resume .resume-block .resume-block-header-item.work {
    background-color: #e85858;
    color: #fff;
}

.resume .resume-block .resume-block-header-item.resume-block-header-item-modify {}

.resume .resume-block .resume-block-header-item.resume-block-header-item-modify::before {
    font-size: 20px;
    content: "\f044";
}

.resume .resume-block .resume-block-header-item.resume-block-header-item-modify.work::before {
    content: "\f00c";
}

.resume .resume-block .resume-block-header-letter,
.resume .resume-block .resume-block-content-label {
    padding-left: 20px;
}

.resume .resume-block .resume-block-content-item {
    display: table;
    padding-right: 10px;
    width: 100%;
    height: 36px;
    line-height: 36px;
}

.resume .resume-block .resume-block-content-item + .resume-block-content-item {
    border-top: 1px solid #ccc;
}

.resume .resume-block .resume-block-content-label,
.resume .resume-block .resume-block-content-letter {
    display: table-cell;
}

.resume .resume-block .resume-block-content-label {
    margin-right: 10px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-right: 10px;
    width: 100px;
    line-height: 16px;
    font-weight: bold;
    font-size: 12px;
}

.resume .resume-block .resume-block-content-letter,
.resume .resume-block .resume-block-content-options {
}

.resume .resume-block .resume-block-content-letter,
.resume .resume-block .resume-block-content-options,
.resume .resume-block .resume-block-content-options > * {
    font-size: 13px;
}

.resume .resume-block .resume-block-content-letter,
.resume .resume-block .resume-block-content-options > * {
    padding-left: 8px;
}

.resume .resume-block .resume-block-content-letter > span {
    margin-right: 10px;
    display: inline-block;
}

.resume .resume-block .resume-block-content-letter,
.resume .resume-block .resume-block-content-options {
    padding-top: 10px;
    padding-bottom: 10px;
}

.resume .resume-block .resume-block-content-letter {
    line-height: 20px;
}

.resume .resume-block .resume-block-content-options {
    display: table-cell;
}

.resume .resume-block .resume-block-content-options > * {
    width: 100%;
}

.resume .resume-block .resume-block-content-options > .resume-block-content-options-item {}

.resume .resume-block .resume-block-content-options > input,
.resume .resume-block .resume-block-content-options > textarea,
.resume .resume-block .resume-block-content-options > select {
    height: 23px;
    background-color: #fff;
    border-radius: 3px;
}

.resume .resume-block .resume-block-content-options > select,
.resume .resume-block .resume-block-content-options > label,
.resume .resume-block .resume-block-content-options input[type=checkbox] {
    cursor: pointer;
}

.resume .resume-block .resume-block-content-options > textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    height: 160px;
    border: 1px solid #ccc;
    outline: 0;
    resize: none;
    vertical-align: top;
}