.vitae {

}

.vitae #VitaeOptions #VitaeOptionsZoom {
    margin-bottom: 10px;
    width: 100%;
    height: 36px;
    background-color: #c82828;
    font-size: 14px;
    color: #fff;
}

.vitae .vitae-block {
    padding: 10px;
    min-height: 200px;
    background-color: #fbf7f4;
    border-radius: 3px;
    border: 1px solid #aaa;
}

.vitae .vitae-block + .vitae-block {
    margin-top: 10px;
}

.vitae .vitae-block .vitae-container + .vitae-container {
    margin-top: 15px;
}

.vitae .vitae-block .vitae-block-title {
    margin-bottom: 8px;
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
    font-size: 13px;
}

.vitae .vitae-block .vitae-block-title::before {
    margin-right: 6px;
    font-size: 12px;
}

.vitae .vitae-block .vitae-about .vitae-block-title::before {
    content: "\f2bc";
}

.vitae .vitae-block .vitae-education .vitae-block-title::before {
    content: "\f19d";
}

.vitae .vitae-block .vitae-interested .vitae-block-title::before {
    content: "\f097";
}

.vitae .vitae-block .vitae-groups .vitae-block-title::before {
    content: "\f0c0";
}

.vitae .vitae-block .vitae-friends .vitae-block-title::before {
    content: "\f2b5";
}

.vitae .vitae-block .vitae-block-content {
    font-size: 13px;
}

.vitae .vitae-block .vitae-block-empty {
    margin-top: 5px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 13px;
}

.vitae .vitae-block.empty .vitae-block-empty {
    display: block;
}

.vitae .vitae-block .vitae-link {
    display: block;
    margin-top: 10px;
    padding: 0;
    background-color: #fbf7f4;
    border: 0;
    font-weight: bold;
    font-size: 13px;
    color: #3A3A3A;
}

.vitae .vitae-block .vitae-block-item {
    display: block;
    margin-top: 6px;
}

.vitae .vitae-block .vitae-block-item-icon {
    padding-top: 1px;
    padding-left: 36px;
    height: 30px;
    background-color: #f8ede9;
    background-position: 1px 1px;
    background-size: auto 28px;
    background-repeat: no-repeat;
    line-height: 28px;
}

.vitae .vitae-block .vitae-link::before {
    margin-right: 10px;
    content: "\f0a9";
}