<section class="dock"></section>
<section class="vitae cabin-s"></section>
<section class="access cabin-m">
    <div class="access-block">
        <div class="access-block-header" ng-bind="lyric.REPORT_TITLE"></div>
        <div class="access-block-content">
            <div class="access-block-letter" ng-bind="lyric.REPORT_MEMBERS_NUMBER_LABEL+': '+groupDatum.members.length"></div>
        </div>
        <div class="access-block-content">
            <button class="access-board access-block-item i" ng-click="onBoardAccessClick()" ng-bind="lyric.REPORT_BOARD_BUTTON"></button>
            <button class="access-photo access-block-item i" ng-click="onPhotoAccessClick()" ng-bind="lyric.REPORT_PHOTO_BUTTON"></button>
            <button class="access-video access-block-item i" ng-click="onVideoAccessClick()" ng-bind="lyric.REPORT_VIDEO_BUTTON"></button>
        </div>
    </div>
    <div class="access-block" ng-if="accessType">
        <div class="access-block-subheader i" ng-class="getAccessClass()" ng-bind="getAccessName()"></div>
        <div class="access-block-table">
            <table>
                <thead>
                    <tr>
                        <th ng-repeat="item in accessLabelArray" ng-bind="item"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in accessDataList">
                        <td ng-repeat="(key, value) in item">
                            <span ng-if="confirmValueType('text',value)" ng-bind="value"></span>
                            <img ng-if="confirmValueType('photo',value)" ng-src="{{value}}"></span>
                            <a ng-if="confirmValueType('video',value)" ng-href="{{value}}" target="_blank" ng-bind="lyric.REPORT_VIDEO_LINK"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<section class="notification"></section>