<section class="alert">
    <div class="confirm-content" ng-bind="alertDescription"></div>
    <div class="confirm-footer">
        <button class="confirm-confirm" ng-click="onConfirm()" ng-bind="lyric.ALERT_CONFIRM_BUTTON"></button>
    </div>
</section>