<section class="dock"></section>
<section class="vitae cabin-s"></section>
<section class="appointmaker cabin-m">
    <div class="appointmaker-header i" ng-bind="lyric.APPOINTMAKER_TITLE"></div>
    <div class="appointmaker-content">
        <div class="appointmaker-date">
            <div class="appointmaker-date-item">
                <span ng-bind="lyric.APPOINTMAKER_START_TIME_LABEL"></span>
                <input type="date" ng-model="makerBeginDate" />
            </div>
            <div class="appointmaker-date-item">
                <span ng-bind="lyric.APPOINTMAKER_END_TIME_LABEL"></span>
                <input type="date" ng-model="makerEndDate" />
            </div>
        </div>
        <div class="appointmaker-tag">
            <button ng-class="{'work':isDayTime}" ng-click="onTypeClick('daytime')" ng-bind="lyric.APPOINTMAKER_DAYTIME_TAG"></button>
            <button ng-class="{'work':!isDayTime}" ng-click="onTypeClick('nighttime')" ng-bind="lyric.APPOINTMAKER_NIGHTTIME_TAG"></button>
        </div>
        <div class="appointmaker-time">
            <table>
                <thead>
                    <tr>
                        <th ng-bind="lyric.APPOINTMAKER_TIME_DAY_LABEL"></th>
                        <th ng-repeat="item in dayArray" ng-bind="dayNameArray[item]"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in (isDayTime?daytimeArray:nighttimeArray)">
                        <td ng-bind="getFormalTime(item)">
                        <td ng-repeat="subitem in dayArray">
                            <button ng-class="{'work':appointTimeList[$index][item]}" ng-bind="appointTimeList[$index][item]?lyric.APPOINTMAKER_OPEN_LABEL:lyric.APPOINTMAKER_CLOSE_LABEL" ng-click="onTimeClick($index, item)"></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="appointmaker-option">
            <button ng-bind="lyric.APPOINTMAKER_SAVE_BUTTON" ng-click="onConfirmClick()"></button>
        </div>
    </div>
</section>
<section class="notification"></section>