<section class="dock dock-user"></section>
<section class="vitae cabin-s"></section>
<section class="appoint cabin-m">
    <div class="appoint-header i" ng-bind="lyric.APPOINT_TITLE"></div>
    <div class="appoint-recruiter appoint-block">
        <div class="appoint-block-header" ng-bind="lyric.APPOINT_RECRUITER_LABEL"></div>
        <div class="appoint-block-content">
            <a class="appoint-recruiter-member" ng-href="/user/{{memberDatum.id}}">
                <img ng-src="{{memberDatum.avatarUrl}}" />
                <span ng-bind="memberDatum.name"></span>
            </a>
        </div>
    </div>
    <div class="appoint-date appoint-block">
        <div class="appoint-block-header" ng-bind="lyric.APPOINT_DATE_LABEL"></div>
        <div class="appoint-block-content">
            <input type="date" ng-model="appointDate" ng-change="onDateChange()" />
        </div>
    </div>
    <div class="appoint-time appoint-block">
        <div class="appoint-block-header" ng-bind="lyric.APPOINT_TIME_LABEL"></div>
        <div class="appoint-block-content">
            <button class="appoint-time-item" ng-class="{'work':(item===appointTime)}" ng-repeat="item in availableDates | orderBy" ng-click="onTimeClick(item)" ng-bind="getFormalTime(item)"></button>
        </div>
    </div>
    <div class="appoint-description appoint-block">
        <div class="appoint-block-header" ng-bind="lyric.APPOINT_DESCRIPTION_LABEL"></div>
        <div class="appoint-block-content">
            <textarea ng-model="appointDescription" placeholder="{{lyric.APPOINT_DESCRIPTION_PLACEHOLDER}}"></textarea>
        </div>
    </div>
    <div class="appoint-option">
        <button ng-bind="lyric.APPOINT_SEND_BUTTON" ng-click="onConfirmClick()"></button>
    </div>
</section>
<section class="notification"></section>