<div class="board-container" ng-class="{'modify':datum.isModify}" ng-if="!(datum.isDelete)">
    <div class="board-title">
        <a class="board-name" ng-href="{{getBoardCreatorUrl()}}" ng-bind="getName()"></a>
        <div class="board-date" ng-bind="datum.created_at"></div>
        <div class="board-privacy i" ng-class="getPrivacyClass()"></div>
    </div>
    <div class="board-avatar" ng-style="getAvatarStyle()"></div>
    <div class="board-detail" ng-if="!datum.isModify">
        <div class="board-letter areatext" ng-bind="datum.text"></div>
        <div class="board-photo" ng-class="{'board-photo-odd':datum.files.length%2}" ng-if="datum.files">
            <div class="board-photo-item" ng-repeat="subitem in datum.files" ng-style="{'background-image':'url({{getBoardPhotoUrl(subitem)}})'}" ng-click="onPhotoClick(subitem)">
                <img ng-src="{{getBoardPhotoUrl(subitem)}}" />
            </div>
        </div>
    </div>
    <div class="board-modify" ng-if="datum.isModify">
        <textarea ng-model="datum.text"></textarea>
        <div class="board-modify-photo" ng-if="!datum.videoFile">
            <button class="board-modify-photo-item" ng-repeat="subitem in datum.files" ng-click="onRemovePhotoClick(subitem)" ng-style="{'background-image':'url({{getBoardPhotoUrl(subitem)}})'}"></button>
            <button class="board-modify-photo-attend i" ng-class="{'working':datum.isPhotoWorking}" ng-click="onAttendPhotoClick()"></button>
        </div>
        <button class="board-modify-submit" ng-click="onUpdateClick()" ng-bind="lyric.BOARD_PROCESS_UPDATE_BUTTON"></button>
    </div>
    <div class="board-video" ng-init="setVideoFile()">
        <button class="i" ng-class="{'working':isVideoWorking}" ng-if="datum.isModify&&datum.videoFile" ng-click="onSelectVideoClick()" ng-bind="lyric.BOARD_VIDEO_SELECT"></button>
    </div>
    <div class="board-status">
        <!-- <div class="board-status-item board-status-seen i" ng-bind="'0'"></div> -->
    </div>
    <div class="board-comment">
        <div class="board-comment-reply">
            <div class="board-comment-avatar" ng-style="getPosterAvatar()"></div>
            <div class="board-comment-reply-text">
                <input type="text" ng-model="datum.replyText" />
            </div>
            <button class="i" ng-click="onReplyClick()"></button>
        </div>
        <button class="board-comment-view" ng-click="onCommentsClick()" ng-if="datum.num_comments&&!datum.comments" ng-bind="lyric.BOARD_VIEW_COMMENTS_BUTTON"></button>
        <div class="board-comment-content">
            <div class="board-comment-item" ng-repeat="subitem in datum.comments">
                <div class="board-comment-avatar" ng-style="getAvatarStyle(subitem)"></div>
                <a class="board-comment-item-name" ng-href="/user/{{subitem.creater_id}}" ng-bind="getName(subitem)"></a>
                <div class="board-comment-item-date" ng-bind="subitem.created_at"></div>
                <div class="board-comment-item-letter" ng-bind="subitem.content"></div>
            </div>
        </div>
    </div>
    <button class="board-extra i" ng-click="onExtraToggle()" ng-if="!datum.isModify&&((MODE_USER&&userDatum.id===accountDatum.id)||(MODE_GROUP&&datum.creater_id===groupDatum.currentUser.user_id))"></button>
    <div class="board-extra-select" ng-if="datum.isExtra">
        <button ng-click="onModifyClick()" ng-bind="lyric.BOARD_EXTRA_MODIFY_BUTTON"></button>
        <button ng-click="onDeleteClick()" ng-bind="lyric.BOARD_EXTRA_DELETE_BUTTON"></button>
        <button ng-click="onSetPublicClick()" ng-if="datum.privacy_status==='private'" ng-bind="lyric.BOARD_PUBLIC_BUTTON"></button>
        <button ng-click="onSetPrivateClick()" ng-if="datum.privacy_status==='public'" ng-bind="lyric.BOARD_PRIVATE_BUTTON"></button>
    </div>
</div>