<div class="bulletin-poster" ng-if="confirmPosterPrivacy()">
    <div class="bulletin-poster-header">
        <div class="i bulletin-poster-header-letter" ng-bind="lyric.BULLETIN_POSTER_TITLE"></div>
        <button class="i bulletin-poster-live"></button>
    </div>
    <div class="bulletin-poster-content" ng-style="getPosterAvatar()">
        <div class="bulletin-poster-textarea">
            <textarea ng-model="posterDatum.content" placeholder="{{lyric.BULLETIN_POSTER_PLACEHOLDER}}"></textarea>
        </div>
        <div class="bulletin-poster-video">
            <video ng-src="{{posterDatum.videoLocalUrl}}" ng-if="posterDatum.videoLocalUrl" autoplay controls></video>
        </div>
        <div class="bulletin-poster-photo">
            <button class="bulletin-poster-photo-item" ng-repeat="item in posterDatum.fileList" ng-style="getPosterPhotoItemStyle(item.link)" ng-click="onPhotoRemoveClick(item)"></button>
        </div>
        <div class="bulletin-poster-options">
            <button class="bulletin-poster-options-video i" ng-class="{'working':posterDatum.isVideoWorking,'vetoing':posterDatum.fileList}" ng-click="onPosterVideoClick()" ng-bind="lyric.BULLETIN_VIDEO_BUTTON"></button>
            <button class="bulletin-poster-options-photo i" ng-class="{'working':posterDatum.isPhotoWorking,'vetoing':posterDatum.videoFile}" ng-click="onPosterImageClick()" ng-bind="lyric.BULLETIN_PHOTO_BUTTON"></button>
            <input type="file" accept="image/x-png,image/jpeg" ng-init="setPhotoChange()" />
            <button class="bulletin-poster-privacy i" ng-class="{'bulletin-poster-privacy-private':(posterDatum.privacy==='private')}" ng-click="onPrivacyToggle($event)" ng-bind="(posterDatum.privacy==='private')?lyric.BULLETIN_POSTER_PRIVATE_BUTTON:lyric.BULLETIN_POSTER_PUBLIC_BUTTON"></button>
            <button class="bulletin-poster-post" ng-click="onPostClick()" ng-bind="lyric.BULLETIN_POSTER_POST_BUTTON"></button>
            <div class="bulletin-privacy-select" ng-class="{'work':posterDatum.isPrivacySelect}">
                <span ng-bind="lyric.BULLETIN_POSTER_PRIVACY_LABEL"></span>
                <button class="bulletin-privacy-public i" ng-click="onPrivacyClick('public')" ng-bind="lyric.BULLETIN_POSTER_PUBLIC_BUTTON"></button>
                <button class="bulletin-privacy-private i" ng-click="onPrivacyClick('private')" ng-bind="lyric.BULLETIN_POSTER_PRIVATE_BUTTON"></button>
            </div>
        </div>
    </div>
</div>
<div class="bulletin-empty" ng-if="!boardList||!boardList.length" ng-bind="lyric.BULLETIN_EMPTY_LETTER"></div>
<div class="bulletin-content" ng-if="boardList">
    <div class="board bulletin-item" ng-repeat="item in boardList"></div>
</div>