<section class="alert countdown">
    <div class="confirm-header" ng-bind="alertDescription"></div>
    <div class="countdown-loading i confirm-content"></div>
    <div class="confirm-footer">
        <button class="confirm-deny" ng-click="onDeny()" ng-bind="lyric.ALERT_CANCEL_BUTTON"></button>
    </div>
</section>