<section class="cropper">
    <div class="confirm-header" ng-bind="lyric.CROP_TITLE"></div>
    <div class="confirm-content confirm-content-cropper">
        <section id="CropContainer">
            <img id="BaseImg" />
            <div id="CropFrame">
                <div id="CropTop" class="crop-frontier"></div>
                <div id="CropBottom" class="crop-frontier"></div>
                <div id="CropLeft" class="crop-frontier"></div>
                <div id="CropRight" class="crop-frontier"></div>
                <div id="CropTopLeft" class="crop-frontier crop-pointer"></div>
                <div id="CropTopRight" class="crop-frontier crop-pointer"></div>
                <div id="CropBottomLeft" class="crop-frontier crop-pointer"></div>
                <div id="CropBottomRight" class="crop-frontier crop-pointer"></div>
            </div>
        </section>
    </div>
    <div class="confirm-footer">
        <button class="confirm-deny" ng-click="onFileClick()" ng-bind="lyric.CROP_SELECT_BUTTON"></button>
        <button class="confirm-deny" ng-click="onCancelClick()" ng-bind="lyric.CROP_CANCEL_BUTTON"></button>
        <button class="confirm-confirm" ng-click="onUploadClick()" ng-bind="lyric.CROP_UPLOAD_BUTTON"></button>
        <input id="ImageInp" type="file" accept="image/x-png,image/jpeg" />
    </div>
</section>