<div class="dock-cover" ng-style="getCoverImage()"></div>
<div class="i dock-cover-mark" ng-click="onCoverChangeClick()" ng-if="(userDatum.id===accountDatum.id)">
    <span ng-bind="lyric.DOCK_COVER_UPDATE_BUTTON"></span>
</div>
<div class="dock-name" ng-bind="getName()"></div>
<div class="dock-menu">
    <a class="dock-menu-item dock-friend-add i" ng-if="MODE_USER&&(userDatum.id!==accountDatum.id)&&!confirmFriend()" ng-click="onFriendAddClick()" ng-bind="lyric.DOCK_MENU_FRIEND_ADD_BUTTON"></a>
    <a class="dock-menu-item dock-friend-status i" ng-if="MODE_USER&&(userDatum.id!==accountDatum.id)&&confirmFriend()" ng-bind="lyric.DOCK_MENU_FRIEND_STATUS_BUTTON"></a>
    <div class="dock-friend-select">
        <button ng-bind="lyric.DOCK_FRIEND_UNFRIEND_BUTTON" ng-click="onFriendRemoveClick()"></button>
    </div>
    <a class="dock-menu-item dock-group-status i" ng-if="MODE_GROUP&&groupDatum.currentUser&&(groupDatum.currentUser.status!=='disable')" ng-bind="lyric.DOCK_MENU_STATUS_BUTTON"></a>
    <a class="dock-menu-item dock-group-join i" ng-if="MODE_GROUP&&(!groupDatum.currentUser||(groupDatum.currentUser.status==='disable'))" ng-click="onJoinClick()" ng-bind="lyric.DOCK_MENU_JOIN_BUTTON"></a>
    <a class="dock-menu-item" ng-href="{{getUserLink()}}" ng-if="MODE_USER" ng-bind="lyric.DOCK_MENU_TIMELINE_BUTTON"></a>
    <a class="dock-menu-item" ng-href="{{getGroupLink()}}" ng-if="MODE_GROUP" ng-bind="lyric.DOCK_MENU_TIMELINE_BUTTON"></a>
    <a class="dock-menu-item" ng-href="/groupmember/{{groupDatum.id}}" ng-if="MODE_GROUP" ng-bind="lyric.DOCK_MENU_MEMBER_BUTTON"></a>
    <a class="dock-menu-item" href="/invite" ng-if="MODE_USER&&(userDatum.id===accountDatum.id)&&(userDatum.type!=='member')" ng-bind="lyric.DOCK_MENU_INVITE_BUTTON"></a>
    <a class="dock-menu-item" ng-href="{{getGroupinviteLink()}}" ng-if="MODE_GROUP&&confirmGroupPrivacy('invite')" ng-bind="lyric.DOCK_MENU_INVITE_BUTTON"></a>
    <a class="dock-menu-item" ng-href="/access/{{groupDatum.id}}" ng-if="MODE_GROUP&&confirmGroupPrivacy('access')" ng-bind="lyric.DOCK_MENU_GROUPACCESS_BUTTON"></a>
    <a class="dock-menu-item" ng-href="{{getGroupeditLink()}}" ng-if="MODE_GROUP&&confirmGroupPrivacy('modify')" ng-bind="lyric.DOCK_MENU_GROUPEDIT_BUTTON"></a>
</div>
<div class="dock-avatar" ng-style="getAvatarImage()">
    <span class="i" ng-click="onAvatarChangeClick()" ng-bind="lyric.DOCK_AVATAR_UPDATE_BUTTON" ng-if="(userDatum.id===accountDatum.id)"></span>
</div>