<section id="FooterCopyright">
    <div id="FooterCopyrightText" ng-bind="'Copyright © 2017 ShowHi Company Ltd., all rights reserved.
'"></div>
    <!--
    <div id="FooterCopyrightQr">
        <img src="/asset/image/footer-qr.png" />
    </div>
     -->
</section>