<section class="dock"></section>
<section class="vitae cabin-s"></section>
<section class="groupedit cabin-m">
    <div class="groupedit-block">
        <div class="groupedit-block-header i" ng-bind="lyric.GROUPEDIT_TITLE"></div>
        <div class="groupedit-block-content">
            <div class="groupedit-title groupedit-block-item">
                <div class="groupedit-block-item-label i" ng-bind="lyric.GROUPEDIT_NAME_LABEL"></div>
                <div class="groupedit-block-item-content">
                    <div class="groupedit-block-item-letter" ng-bind="lyric.GROUPEDIT_TYPE_LABEL+': '+modifiedUserDatum.type"></div>
                </div>
                <div class="groupedit-block-item-content">
                    <input ng-model="modifiedUserDatum.title" placeholder="{{lyric.GROUPEDIT_NAME_LABEL}}"></textarea>
                </div>
            </div>
            <div class="groupedit-description groupedit-block-item">
                <div class="groupedit-block-item-label i" ng-bind="lyric.GROUPEDIT_DESCRIPTION_LABEL"></div>
                <div class="groupedit-block-item-content">
                    <textarea ng-model="modifiedUserDatum.description" placeholder="{{lyric.GROUPEDIT_DESCRIPTION_PLACEHOLDER}}"></textarea>
                </div>
            </div>
            <div class="groupedit-privacy groupedit-block-item">
                <div class="groupedit-block-item-label i" ng-bind="lyric.GROUPEDIT_PRIVACY_LABEL"></div>
                <div class="groupedit-block-item-content">
                    <div class="groupedit-block-item-letter" ng-bind="lyric.GROUPEDIT_PRIVACY_EXPLAIN_1"></div>
                </div>
                <div class="groupedit-block-item-content">
                    <span ng-bind="lyric.GROUPEDIT_PRIVACY_EXPLAIN_2"></span>
                </div>
                <div class="groupedit-block-item-content">
                    <label ng-class="{'groupedit-privacy-{{item.id}}':true}" ng-repeat="item in privacyList">
                        <input type="radio" ng-value="item.id" name="GroupeditPrivacyRadio" ng-model="modifiedUserDatum.privacy" />
                        <span class="i" ng-bind="item.name"></span>
                        <span ng-bind="item.description"></span>
                    </label>
                </div>
            </div>
            <div class="groupedit-status groupedit-block-item">
                <div class="groupedit-block-item-label i" ng-bind="lyric.GROUPEDIT_STATUS_LABEL"></div>
                <div class="groupedit-block-item-content">
                    <div class="groupedit-block-item-letter" ng-bind="lyric.GROUPEDIT_STATUS_EXPLAIN_1"></div>
                </div>
                <div class="groupedit-block-item-content">
                    <span ng-bind="lyric.GROUPEDIT_STATUS_EXPLAIN_2"></span>
                </div>
                <div class="groupedit-block-item-content">
                    <label ng-class="{'groupedit-status-{{item.id}}':true}" ng-repeat="item in statusList">
                        <input type="radio" ng-value="item.id" name="GroupeditStatusRadio" ng-model="modifiedUserDatum.status" />
                        <span class="i" ng-bind="item.name"></span>
                        <span ng-bind="item.description"></span>
                    </label>
                </div>
            </div>
        </div>
        <div class="groupedit-block-footer">
            <button ng-bind="lyric.GROUPEDIT_SAVE_BUTTON" ng-click="onUpdateClick()"></button>
        </div>
    </div>
</section>
<section class="notification"></section>