<section class="dock dock-group"></section>
<section class="vitae cabin-s"></section>
<section class="groupmember cabin-m">
    <div class="groupmember-header i" ng-bind="lyric.GROUPMEMBER_TITLE"></div>
    <div class="groupmember-content">
        <div class="groupmember-content-prefix">
            <div class="groupmember-item" ng-repeat="item in groupDatum.members" ng-if="(item.status!=='disable')">
                <div class="groupmember-item-avatar" ng-style="getMemberAvatarStyle(item)"></div>
                <a class="groupmember-item-name" ng-href="/user/{{item.userId}}" ng-bind="item.first_name+' '+item.last_name"></a>
                <div class="groupmember-item-type i" ng-class="{'groupmember-item-type-{{item.role}}':true}" ng-if="item.status==='enable'" ng-bind="roleDictionary[item.role]"></div>
                <button class="groupmember-item-allow" ng-click="onAllowClick(item)" ng-if="confirmPrivacy('allow')&&(item.status==='init')&&(item.recruiter_id==='0')" ng-bind="lyric.GROUPMEMBER_ALLOW_BUTTON"></button>
                <button class="groupmember-item-cancel" ng-click="onDeleteClick(item)" ng-if="confirmPrivacy('allow')&&(item.status==='init')&&(item.recruiter_id==='0')" ng-bind="lyric.GROUPMEMBER_CANCEL_BUTTON"></button>
                <button class="groupmember-item-option i" ng-click="onOptionClick(item)" ng-if="(item===groupDatum.currentUser)||(confirmPrivacy('option')&&confirmNegativeRole(item,'owner')&&(item.status==='enable'))"></button>
                <div class="groupmember-item-option-select" ng-show="(item.id===handleOptionedId)">
                    <button ng-click="onRecruitableClick()" ng-if="confirmPrivacy('own')&&(item.role==='owner')&&!item.meeting_enable" ng-bind="lyric.GROUPMEMBER_ENABLE_RECRUITER_BUTTON"></button>
                    <button ng-click="onDisrecruitableClick()" ng-if="confirmPrivacy('own')&&(item.role==='owner')&&item.meeting_enable" ng-bind="lyric.GROUPMEMBER_DISABLE_RECRUITER_BUTTON"></button>
                    <button ng-click="onChangeRoleClick(item, 'admin')" ng-if="confirmPrivacy('role')&&confirmNegativeRole(item,'owner','admin')&&confirmNegativeType(item,'member')" ng-bind="lyric.GROUPMEMBER_SET_ADMIN_BUTTON"></button>
                    <button ng-click="onChangeRoleClick(item, 'recruiter')" ng-if="confirmPrivacy('role')&&confirmNegativeRole(item,'owner','recruiter')&&confirmNegativeType(item,'member')" ng-bind="lyric.GROUPMEMBER_SET_RECRUITER_BUTTON"></button>
                    <button ng-click="onChangeRoleClick(item, 'editor')" ng-if="confirmPrivacy('role')&&confirmNegativeRole(item,'owner','editor')" ng-bind="lyric.GROUPMEMBER_SET_EDITOR_BUTTON"></button>
                    <button ng-click="onChangeRoleClick(item, 'member')" ng-if="confirmPrivacy('role')&&confirmNegativeRole(item,'owner','member')" ng-bind="lyric.GROUPMEMBER_SET_MEMBER_BUTTON"></button>
                    <button ng-click="onLeaveClick()" ng-if="(item===groupDatum.currentUser)" ng-bind="lyric.GROUPMEMBER_LEAVE_BUTTON"></button>
                    <button ng-click="onDeleteClick(item)" ng-if="confirmPrivacy('remove')&&(item!==groupDatum.currentUser)&&(item.role!=='owner')" ng-bind="lyric.GROUPMEMBER_REMOVE_BUTTON"></button>
                </div>
            </div>
        </div>
        <div class="groupmember-content-suffix" ng-if="confirmPrivacy('invite')">
            <div class="groupmember-extra">
                <div class="groupmember-extra-header" ng-bind="'Invite member'"></div>
                <div class="groupmember-extra-content">
                    <div class="groupmember-extra-item">
                        <div class="groupmember-extra-item-header" ng-bind="'Invite by E-mail'"></div>
                        <div class="groupmember-extra-item-content">
                            <input type="text" ng-model="invitationDatum.mail" />
                            <button ng-click="onInviteClick()" ng-bind="'Send'"></button>
                        </div>
                        <div class="groupmember-extra-item-content">
                            <span ng-bind="'Insert email to invite people'"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="notification"></section>