<div id="HeaderPrefix">
    <a ng-href="{{getDashboardLink()}}">
        <div id="HeaderLogo"></div>
    </a>
    <div id="HeaderSearch">
        <input type="text" ng-model="searchText" placeholder="{{lyric.HEADER_SEARCH_PLACEHOLDER}}" />
        <button ng-click="onSearchClick($event)"></button>
    </div>
    <div class="header-search-result">
        <a class="header-search-result-item" ng-href="/{{item.type}}/{{item.id}}" ng-repeat="item in searchResult" ng-bind="item.name"></a>
    </div>
</div>
<div id="HeaderSuffix">
    <a class="header-user header-suffix-item" href="/" ng-if="isLogined==true">
        <span class="header-user-avatar" ng-style="getImageStyle()"></span>
        <span class="header-user-name" ng-bind="userDatum.firstName+' '+userDatum.lastName"></span>
    </a>
    <div id="HeaderLogin" class="header-suffix-item" ng-click="onHeaderLoginClick()" ng-if="isLogined==false" ng-bind="lyric.HEADER_LOGIN_BUTTON"></div>
    <a class="header-groups header-suffix-item" href="/publicgroups" ng-bind="lyric.HEADER_GROUPS_LINK"></a>
    <div class="header-setting header-suffix-item">
        <div class="header-setting-handler" ng-click="onSettingHandlerPress($event)" ng-bind="lyric.HEADER_SETTING_BUTTON"></div>
        <div class="i header-setting-select" ng-class="{'work':isSettingSelect}">
            <a class="header-setting-item" ng-href="{{getLangpickerLink()}}" ng-bind="lyric.HEADER_SETTING_LANGUAGE"></a>
            <a class="header-setting-item" href="/newgroup" ng-bind="lyric.HEADER_SETTING_CREATE_GROUP" ng-if="confirmCreateGroupPrivacy()"></a>
            <a class="header-setting-item" ng-bind="lyric.HEADER_SETTING_CONTACT"></a>
            <a class="header-setting-item" ng-click="onHeaderLogoutClick()" ng-if="isLogined==true" ng-bind="lyric.HEADER_LOGOUT_BUTTON"></a>
        </div>
    </div>
</div>
