<section id="HomeCover">
    <div id="HomeCoverContent">
        <div id="HomeCoverItems" ng-style="getCoverContentStyle()">
            <div class="home-cover-item" ng-repeat="item in homeCoverDatum" ng-style="getCoverItemStyle()">
                <div class="home-cover-item-image">
                    <img src="/asset/image/{{item.image}}" />
                </div>
                <div class="home-cover-item-letter" ng-bind="lyric[item.textCode]"></div>
            </div>
        </div>
    </div>
    <div id="HomeCoverArrows">
        <div id="HomeCoverArrowPrev" class="home-cover-arrow" ng-click="onCoverPrev()"></div>
        <div id="HomeCoverArrowNext" class="home-cover-arrow" ng-click="onCoverNext()"></div>
    </div>
    <div id="HomeCoverMenu">
        <div class="home-cover-menu-item" ng-class="getCoverMenuItemClass($index)" ng-repeat="item in homeCoverDatum" ng-click="onCoverMenuIndex($index)"></div>
    </div>
</section>
<section id="HomeVideo">
    <div class="home-section-title" ng-bind="lyric.HOME_VIDEO_TITLE"></div>
    <div id="HomeVideoCotent">
        <div id="HomeVideoItems">
            <div class="home-video-item" ng-repeat="item in homeVideoDatum">
                <img src="/asset/image/{{item.image}}" />
            </div>
        </div>
    </div>
    <div id="HomeVideoMenu">
        <div class="home-video-menu-item" ng-repeat="item in getVideoPageRepeatNum() track by $index"></div>
    </div>
</section>
<section id="HomeNews">
    <div class="home-section-title" ng-bind="lyric.HOME_NEWS_TITLE"></div>
    <div id="HomeNewsList">
        <div class="home-news-item" ng-repeat="item in homeNewsDatum" ng-bind="item.text"></div>
    </div>
    <!-- <div id="HomeNewsOption" ng-bind="'more...'"></div> -->
</section>
<section id="HomeWorld">
    <div class="home-section-title" ng-bind="lyric.HOME_WORLD_TITLE"></div>
    <div class="home-section-letter" ng-bind="lyric.HOME_WORLD_DESCRIPTION"></div>
</section>
<section id="HomeConsumer">
    <div class="home-section-title" ng-bind="lyric.HOME_CONSUMER_TITLE"></div>
    <div class="home-section-letter" ng-bind="lyric.HOME_CONSUMER_DESCRIPTION"></div>
</section>
<section id="HomeSchools">
    <div id="HomeSchoolsContent">
        <div class="home-schools-item" ng-repeat="item in homeSchoolsDatum">
            <div class="home-schools-item-image">
                <img src="/asset/image/{{item.image}}" />
            </div>
            <div class="home-schools-item-text" ng-bind="item.text"></div>
        </div>
    </div>
    <!-- <div id="HomeSchoolsOption" ng-bind="'more..'"></div> -->
</section>
<section id="HomeApps"></section>
<section id="HomeContact">
    <div id="HomeContactPrefix">
        <div class="home-contact-letter" ng-bind="'Help & Contact'"></div>
        <div class="home-contact-links">
            <div id="HomeContactIconA" class="home-contact-icon" ng-bind="'FAQ'"></div>
            <div id="HomeContactIconB" class="home-contact-icon" ng-bind="'EMAIL'"></div>
            <div id="HomeContactIconC" class="home-contact-icon" ng-bind="'WEIXIN'"></div>
        </div>
        <div class="home-contact-letter" ng-bind="'We are here 24/7'"></div>
    </div>
    <div id="HomeContactSuffix">
        <div class="home-contact-letter" ng-bind="'Stay connected with Showhi'"></div>
        <div id="HomeContactSubscribe">
            <input type="text" placeholder="your email" />
            <button ng-bind="'訂閱'"></button>
        </div>
        <div class="home-contact-links">
            <div id="HomeContactIconC" class="home-contact-icon"></div>
            <div id="HomeContactIconD" class="home-contact-icon"></div>
            <div id="HomeContactIconE" class="home-contact-icon"></div>
        </div>
    </div>
</section>
<section id="HomeExtra">
    <button ng-bind="'About Us'"></button>
    <button ng-bind="'Terms & Conditions'"></button>
    <button ng-bind="'Privacy'"></button>
</section>