<section class="dock dock-user"></section>
<section class="vitae cabin-s"></section>
<section class="proffer cabin-m">
    <div class="proffer-creator proffer-block">
        <div class="i proffer-block-header">
            <div class="proffer-block-header-letter" ng-bind="lyric.INVITE_TITLE"></div>
        </div>
        <div class="proffer-block-content">
            <div class="i proffer-creator-mark"></div>
            <div class="proffer-creator-name">
                <input type="text" ng-model="creatorNode" placeholder="{{lyric.INVITE_NOTE_PLACEHOLDER}}" />
            </div>
            <div class="proffer-creator-options">
                <button class="i proffer-creator-target" ng-class="getTypeSelectClass()" ng-click="onCreatorSelectClick($event)" ng-bind="getTypeSelectName()"></button>
                <button class="proffer-creator-confirm" ng-click="onQRCodeCreateClick()" ng-bind="lyric.INVITE_CREATE_BUTTON"></button>
                <div class="proffer-creator-target-select" ng-class="{'work':creatorIsTargetSelect}">
                    <div class="proffer-creator-target-label" ng-bind="lyric.INVITE_TARGET_LABEL"></div>
                    <button class="proffer-creator-target-item proffer-creator-target-item-member" ng-click="onCreatorTargetClick('member')">
                        <div class="i" ng-bind="lyric.INVITE_TARGET_STUDENT_BUTTON"></div>
                        <div ng-bind="lyric.INVITE_TARGET_STUDENT_DESCRIPTION"></div>
                    </button>
                    <button class="proffer-creator-target-item proffer-creator-target-item-business" ng-click="onCreatorTargetClick('business')">
                        <div class="i" ng-bind="lyric.INVITE_TARGET_BUSINESS_BUTTON"></div>
                        <div ng-bind="lyric.INVITE_TARGET_BUSINESS_DESCRIPTION"></div>
                    </button>
                    <button class="proffer-creator-target-item proffer-creator-target-item-school" ng-click="onCreatorTargetClick('school')">
                        <div class="i" ng-bind="lyric.INVITE_TARGET_SCHOOL_BUTTON"></div>
                        <div ng-bind="lyric.INVITE_TARGET_SCHOOL_DESCRIPTION"></div>
                    </button>
                    <div class="proffer-creator-target-label" ng-bind="lyric.INVITE_TARGET_DESCRIPTION"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="proffer-qrcode proffer-block" ng-repeat="item in getArrangedQrcodeList(qrcodeList) | orderBy:'+':true">
        <div class="proffer-block-header">
            <div class="i proffer-block-header-type" ng-if="!item.isTypeSchool&&!item.isTypeBusiness" ng-bind="lyric.INVITE_QRCODE_TYPE_STUDENT"></div>
            <div class="i proffer-block-header-type proffer-qrcode-header-type-school" ng-if="item.isTypeSchool" ng-bind="lyric.INVITE_QRCODE_TYPE_SCHOOL"></div>
            <div class="i proffer-block-header-type proffer-qrcode-header-type-business" ng-if="item.isTypeBusiness" ng-bind="lyric.INVITE_QRCODE_TYPE_BUSINESS"></div>
            <div class="proffer-block-header-letter" ng-bind="item.note" ng-if="!item.isModify"></div>
            <div class="proffer-block-header-letter" ng-show="item.isModify">
                <input type="text" ng-model="item.note" />
            </div>
            <div class="proffer-block-header-options">
                <button class="i proffer-block-header-item proffer-qrcode-header-item-update" ng-click="onQRCodeNodeUpdateClick(item)" ng-if="item.isModify"></button>
                <button class="i proffer-block-header-item proffer-qrcode-header-item-delete" ng-click="onQRCodeNodeDeleteClick(item)" ng-if="item.isModify"></button>
                <button class="i proffer-block-header-item proffer-qrcode-header-item-modify" ng-class="{'work':item.isModify}" ng-click="onQRCodeNodeModifyClick(item)"></button>
            </div>
        </div>
        <div class="proffer-block-content">
            <div class="proffer-qrcode-info">
                <div class="proffer-qrcode-info-image">
                    <img src="{{getQRcodeUrl(item.filename)}}" />
                </div>
                <div class="proffer-qrcode-info-content">
                    <div class="proffer-qrcode-info-item">
                        <div class="proffer-qrcode-info-item-label" ng-bind="lyric.INVITE_QRCODE_LINK_LABEL"></div>
                        <div class="proffer-qrcode-info-item-letter" ng-bind="item.url"></div>
                    </div>
                    <div class="proffer-qrcode-info-item">
                        <div class="proffer-qrcode-info-item-label" ng-bind="lyric.INVITE_QRCODE_TIME_LABEL"></div>
                        <div class="proffer-qrcode-info-item-letter" ng-bind="item.expireDate"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="proffer-block-content">
            <div class="proffer-user-item i" ng-class="{'work':subitem.recruiter}" ng-repeat="subitem in item.register_arr">
                <div class="proffer-user-item-title" ng-bind="subitem.email"></div>
                <button class="proffer-user-item-verify" ng-click="onQRCodeUserVerify(subitem)" ng-bind="lyric.INVITE_QRCODE_VERIFY_BUTTON"></button>
            </div>
        </div>
    </div>
</section>
<section class="notification"></section>