<section class="dock dock-user" ng-if="isLogined"></section>
<section class="vitae cabin-s" ng-if="isLogined"></section>
<section class="langpicker cabin-m" ng-class="{'basic-min-height':!isLogined}">
    <div class="langpicker-block">
        <div class="langpicker-block-header" ng-bind="lyric.LANGPICKER_TITLE"></div>
        <div class="langpicker-block-content">
            <button ng-class="{'work':(language===key)}" ng-click="onLanguageItemPress(key)" ng-repeat="(key, item) in languagesDictionary" ng-bind="item"></button>
        </div>
    </div>
</section>
<section class="notification" ng-if="isLogined"></section>