<section id="DialogueLogin" class="login">
    <div id="DialogueLoginPrefix">
        <div id="DialogueLoginSub" ng-bind="lyric.LOGIN_TITLE_LETTER"></div>
        <div id="DialogueLoginLetter" ng-bind="lyric.LOGIN_SLOGAN_LETTER"></div>
    </div>
    <div id="DialogueLoginSuffix">
        <div id="DialogueLoginTitle" ng-bind="lyric.LOGIN_SUB_LETTER"></div>
        <form id="DialogueLoginForm">
            <input id="DialogueLoginAccount" type="text" ng-mousedown="onFormMousedown()" ng-model="account" placeholder="{{lyric.LOGIN_ACCOUNT_PLACEHOLDER}}" />
            <input id="DialogueLoginPassword" type="password" ng-mousedown="onFormMousedown()" ng-model="password" placeholder="{{lyric.LOGIN_PASSWORD_PLACEHOLDER}}" />
            <button ng-bind="lyric.LOGIN_LOGIN_BUTTON" ng-click="onForwardClick()"></button>
            <div id="DialogueLoginError" ng-class="{'work':isLoginForwardError}" ng-bind="lyric.LOGIN_ERROR_LETTER"></div>
        </form>
        <div id="DialogueLoginOption"></div>
        <div id="DialogueLoginExit">
            <button ng-click="onEixtClick()"></button>
        </div>
    </div>
</section>