<section class="dock dock-user"></section>
<section class="vitae cabin-s"></section>
<section class="newgroup cabin-m">
    <div class="newgroup-block">
        <div class="i newgroup-block-header" ng-bind="lyric.NEWGROUP_TITLE"></div>
        <div class="newgroup-block-content">
            <div class="newgroup-block-item">
                <div class="newgroup-block-item-label" ng-bind="lyric.NEWGROUP_TYPE_LABEL"></div>
                <div class="newgroup-block-item-content">
                    <label class="i newgroup-type-{{key}}" ng-repeat="(key, item) in typeDictionary">
                        <span ng-bind="item"></span>
                        <input type="radio" ng-value="key" name="NewgroupTypeRadio" ng-model="newgroupDatum.type" />
                    </label>
                </div>
            </div>
            <div class="newgroup-block-item">
                <div class="newgroup-block-item-label" ng-bind="lyric.NEWGROUP_NAME_LABEL"></div>
                <div class="newgroup-block-item-content">
                    <input type="text" ng-model="newgroupDatum.name" placeholder="{{lyric.NEWGROUP_NAME_LABEL}}" />
                </div>
            </div>
            <div class="newgroup-block-item">
                <div class="newgroup-block-item-label" ng-bind="lyric.NEWGROUP_ABBR_LABEL"></div>
                <div class="newgroup-block-item-content">
                    <input type="text" ng-model="newgroupDatum.tag" placeholder="{{lyric.NEWGROUP_ABBR_LABEL}}" />
                    <span ng-bind="lyric.NEWGROUP_ABBR_DESCRIPTION"></span>
                </div>
            </div>
            <div class="newgroup-block-item">
                <button ng-click="onSubmitClick()" ng-bind="lyric.NEWGROUP_SUBMIT_BUTTON"></button>
            </div>
        </div>
    </div></section>
<section class="notification"></section>