<div class="notification-block notification-meeting">
    <div class="notification-block-title" ng-bind="lyric.NOTIFICATION_RESERVE_TITLE"></div>
    <div class="notification-block-empty" ng-if="!meetingNotifications.length" ng-bind="lyric.NOTIFICATION_RESERVE_EMPTY"></div>
    <div class="notification-block-content">
        <div class="notification-item" ng-class="{'pointer':!item.isAsking}" ng-click="item.isAsking||onNotificationClick(item)" ng-repeat="item in meetingNotifications" ng-if="!item.isRemove">
            <small ng-bind="lyric.NOTIFICATION_MEETING_TIME_AT_LABEL+' '+item.created_at"></small>
            <div class="notification-item-content">
                <img ng-src="{{item.avatarUrl}}" />
                <span ng-bind="item.first_name+' '+item.last_name"></span>
                <span class="areatext" ng-bind="item.content"></span>
                <button ng-bind="lyric.ALERT_ALLOW_BUTTON" ng-if="item.isAsking" ng-click="onAcceptMeetingClick(item)"></button>
                <button ng-bind="lyric.ALERT_CANCEL_BUTTON" ng-if="item.isAsking" ng-click="onCancelMeetingClick(item)"></button>
            </div>
        </div>
    </div>
</div>
<div class="notification-block notification-friend">
    <div class="notification-block-title" ng-bind="lyric.NOTIFICATION_FRIEND_TITLE"></div>
    <div class="notification-block-content">
        <button class="notification-item" ng-repeat="item in friendNotifications" ng-click="onNotificationClick(item)" ng-if="!item.isRemove">
            <span ng-bind="item.content"></span>
        </button>
    </div>
</div>
<div class="notification-block notification-gruop">
    <div class="notification-block-title" ng-bind="lyric.NOTIFICATION_GROUP_TITLE"></div>
    <div class="notification-block-content">
        <button class="notification-item" ng-repeat="item in groupNotifications" ng-click="onNotificationClick(item)" ng-if="!item.isRemove">
            <img ng-src="{{item.avatarUrl}}" />
            <span ng-bind="item.content"></span>
        </button>
    </div>
</div>
<div class="notification-block notification-conference">
    <div class="notification-block-title" ng-bind="lyric.NOTIFICATION_MEETING_TITLE"></div>
    <div class="notification-block-empty" ng-if="!conferenceNotifications.length" ng-bind="lyric.NOTIFICATION_MEETING_EMPTY"></div>
    <div class="notification-block-content">
        <button class="notification-item" ng-repeat="item in conferenceNotifications" ng-click="item.isNow?onConferenceClick(item):onNotificationClick(item)" ng-if="!item.isRemove">
            <small ng-bind="lyric.NOTIFICATION_MEETING_TIME_AT_LABEL+' '+item.created_at"></small>
            <span ng-bind="item.content"></span>
        </button>
    </div>
</div>