<section class="pedia">
    <div class="pedia-container">
        <table>
            <thead>
                <tr>
                    <th>Key</th>
                    <th>English</th>
                    <th>繁體中文</th>
                    <th>简体中文</th>
                    <th>Save</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in pediaList | orderBy:'code'">
                    <td ng-bind="item.code"></td>
                    <td>
                        <textarea ng-change="onTextareaChange(item)" ng-model="item.content['en']"></textarea>
                    </td>
                    <td>
                        <textarea ng-change="onTextareaChange(item)" ng-model="item.content['tw']"></textarea>
                    </td>
                    <td>
                        <textarea ng-change="onTextareaChange(item)" ng-model="item.content['cn']"></textarea>
                    </td>
                    <td>
                        <button class="i" ng-class="{'working':item.isWorking}" ng-if="item.isModify" ng-click="onUpdateClick(item)"></button>
                    </td>
                </tr>
            </tbody>
            <tfoot ng-if="isEdit">
                <tr>
                    <td>
                        <textarea ng-model="newable.code"></textarea>
                    </td>
                    <td>
                        <textarea ng-model="newable.en"></textarea>
                    </td>
                    <td>
                        <textarea ng-model="newable.tw"></textarea>
                    </td>
                    <td>
                        <textarea ng-model="newable.cn"></textarea>
                    </td>
                    <td>
                        <button class="i" ng-class="{'working':newable.isWorking}" ng-click="onNewableClick()"></button>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>