<section class="confirm">
    <div class="confirm-header" ng-bind="promptTitle"></div>
    <div class="confirm-content" ng-bind="promptDescription"></div>
    <div class="confirm-content">
        <textarea ng-model="promptInput"></textarea>
    </div>
    <div class="confirm-footer">
        <button class="confirm-confirm" ng-click="onConfirm()" ng-bind="lyric.ALERT_CONFIRM_YES_BUTTON"></button>
        <button class="confirm-deny" ng-click="onDeny()" ng-bind="lyric.ALERT_CONFIRM_NO_BUTTON"></button>
    </div>
</section>