<section class="publicgroups basic-min-height">
    <div class="publicgroups-header">
        <div class="publicgroups-header-tab">
            <label class="publicgroups-header-tab-item" ng-class="{'work':groupFilter.country===key}" ng-repeat="(key, item) in countryDictionary">
                <input type="radio" ng-value="key" name="PublicgroupsCountryRadio" ng-model="groupFilter.country" />
                <span ng-bind="item"></span>
            </label>
        </div>
        <div class="publicgroups-header-letter i" ng-bind="lyric.PUBLICGROUPS_TEMP_TITLE"></div>
    </div>
    <div class="publicgroups-content">
        <a class="publicgroups-item" ng-href="{{getLink(item)}}" ng-repeat="item in groupList" ng-style="{'background-image':'url({{item.avatarUrl}})'}">
            <div class="publicgroups-item-title" ng-bind="item.title"></div>
        </a>
    </div>
</section>