<section class="register basic-min-height">
    <div class="register-block">
        <div class="register-block-header" ng-bind="lyric.REGISTER_TITLE"></div>
        <div class="register-block-content">
            <input type="text" ng-model="account" placeholder="{{lyric.REGISTER_ACCOUNT_PLACEHOLDER}}" />
            <div class="register-item">
                <select type="text" ng-options="item.calling_code as (item.calling_code+' ('+item.country_name+')') for item in countrycodeArray | orderBy:'calling_code'" ng-model="countrycode"></select>
                <input class="register-item-phone" type="text" ng-model="phone" placeholder="{{lyric.REGISTER_PHONE_PLACEHOLDER}}" />
            </div>
            <input type="text" ng-model="lastName" placeholder="{{lyric.REGISTER_LASTNAME_PLACEHOLDER}}" />
            <input type="text" ng-model="firstName" placeholder="{{lyric.REGISTER_FIRSTNAME_PLACEHOLDER}}" />
            <input type="password" ng-model="password" placeholder="{{lyric.REGISTER_PASSWORD_PLACEHOLDER}}" />
            <input type="password" ng-model="rePassword" placeholder="{{lyric.REGISTER_REPEATPASSWORD_PLACEHOLDER}}" />
            <div class="register-error" ng-class="{'work':isPrecessError}" ng-bind="lyric.REGISTER_ERROR"></div>
        </div>
        <div class="register-block-footer">
            <button class="i" ng-class="{'working':isProcessWorking}" ng-bind="lyric.REGISTER_TITLE" ng-click="onProcessClick()"></button>
        </div>
    </div>
</section>