<div class="resume-block">
    <div class="resume-block-header">
        <div class="resume-block-header-letter" ng-bind="lyric.PROFILE_TITLE"></div>
        <div class="resume-block-header-options" ng-if="accountDatum.id===userDatum.id">
            <button class="i resume-block-header-item resume-block-header-item-modify" ng-class="{'work':isModify}" ng-click="toggleModify()"></button>
        </div>
    </div>
    <div class="resume-block-content">
        <div class="resume-block-content-item">
            <div class="resume-block-content-label" ng-bind="lyric.PROFILE_INVITER"></div>
            <div class="resume-block-content-letter" ng-bind="introducerName"></div>
        </div>
        <div class="resume-block-content-item">
            <div class="resume-block-content-label" ng-bind="lyric.PROFILE_INTRODUCER_LABEL"></div>
            <div class="resume-block-content-letter" ng-bind="introducerName"></div>
        </div>
        <div class="resume-block-content-item">
            <div class="resume-block-content-label" ng-bind="lyric.PROFILE_FIRST_NAME_LABEL"></div>
            <div class="resume-block-content-letter" ng-hide="isModify" ng-bind="userDatum.firstName" ></div>
            <div class="resume-block-content-options" ng-show="isModify">
                <input type="text" ng-model="modifiedUserDatum.firstName" />
            </div>
        </div>
        <div class="resume-block-content-item">
            <div class="resume-block-content-label" ng-bind="lyric.PROFILE_LAST_NAME_LABEL"></div>
            <div class="resume-block-content-letter" ng-hide="isModify" ng-bind="userDatum.lastName" ></div>
            <div class="resume-block-content-options" ng-show="isModify">
                <input type="text" ng-model="modifiedUserDatum.lastName" />
            </div>
        </div>
        <div class="resume-block-content-item">
            <div class="resume-block-content-label" ng-bind="lyric.PROFILE_NICK_NAME_LABEL"></div>
            <div class="resume-block-content-letter" ng-hide="isModify" ng-bind="userDatum.nickName"></div>
            <div class="resume-block-content-options" ng-show="isModify">
                <input type="text" ng-model="modifiedUserDatum.nickName" />
            </div>
        </div>
        <div class="resume-block-content-item">
            <div class="resume-block-content-label" ng-bind="lyric.PROFILE_INFO_LABEL"></div>
            <div class="resume-block-content-letter areatext" ng-hide="isModify" ng-bind="userDatum.intro"></div>
            <div class="resume-block-content-options" ng-show="isModify">
                <textarea type="text" ng-model="modifiedUserDatum.intro"></textarea>
            </div>
        </div>
        <div class="resume-block-content-item">
            <div class="resume-block-content-label" ng-bind="lyric.PROFILE_PHONE_LABEL"></div>
            <div class="resume-block-content-letter" ng-bind="userDatum.phone"></div>
        </div>
        <div class="resume-block-content-item">
            <div class="resume-block-content-label" ng-bind="lyric.PROFILE_MAIL_LABEL"></div>
            <div class="resume-block-content-letter" ng-bind="userDatum.mail"></div>
        </div>
        <div class="resume-block-content-item" ng-if="false">
            <div class="resume-block-content-label" ng-bind="lyric.PROFILE_RESIDENCE_LABEL"></div>
            <div class="resume-block-content-letter" ng-hide="isModify" ng-bind="userDatum.city"></div>
            <div class="resume-block-content-options" ng-show="isModify">
                <input type="text" ng-model="modifiedUserDatum.city" />
            </div>
        </div>
        <div class="resume-block-content-item">
            <div class="resume-block-content-label" ng-bind="lyric.PROFILE_GENDER_LABEL"></div>
            <div class="resume-block-content-letter" ng-hide="isModify" ng-bind="genderArray[userDatum.gender]"></div>
            <div class="resume-block-content-options" ng-show="isModify">
                <select ng-options="key as item for (key, item) in genderArray" ng-model="modifiedUserDatum.gender">
                    <option value="" ng-if="!modifiedUserDatum.gender" ng-bind="lyric.PROFILE_GENDER_SELECT"></option>
                </select>
            </div>
        </div>
        <div class="resume-block-content-item">
            <div class="resume-block-content-label" ng-bind="lyric.PROFILE_BIRTH_LABEL"></div>
            <div class="resume-block-content-letter" ng-hide="isModify" ng-bind="userDatum.birth"></div>
            <div class="resume-block-content-options" ng-show="isModify">
                <select class="resume-block-content-options-item" style="width:30%" ng-options="item for item in YearArray | orderBy:'+':true" ng-model="modifiedUserDatum.birthYear">
                    <option ng-bind="lyric.PROFILE_YEAR_SELECT" ng-if="!modifiedUserDatum.birthYear"></option>
                </select>
                <select class="resume-block-content-options-item" style="width:20%" ng-options="item for item in MonthArray" ng-model="modifiedUserDatum.birthMonth">
                    <option ng-bind="lyric.PROFILE_MONTH_SELECT" ng-if="!modifiedUserDatum.birthMonth"></option>
                </select>
                <select class="resume-block-content-options-item" style="width:20%" ng-options="item for item in DateArray" ng-model="modifiedUserDatum.birthDate">
                    <option ng-bind="lyric.PROFILE_DATE_SELECT" ng-if="!modifiedUserDatum.birthDate"></option>
                </select>
            </div>
        </div>
        <div class="resume-block-content-item" ng-if="false">
            <div class="resume-block-content-label" ng-bind="'Interested'"></div>
            <div class="resume-block-content-letter" ng-hide="isModify" ng-bind="userDatum.interests"></div>
            <div class="resume-block-content-options" ng-show="isModify">
                <label class="resume-block-content-options-item" ng-repeat="item in interestArray">
                    <input type="checkbox" />
                    <span ng-bind="item.interest_name"></span>
                </label>
            </div>
        </div>
        <div class="resume-block-content-item">
            <div class="resume-block-content-label" ng-bind="lyric.PROFILE_EDUCATION_LABEL"></div>
            <div class="resume-block-content-letter" ng-hide="isModify" ng-bind="userDatum.education"></div>
            <div class="resume-block-content-options" ng-show="isModify">
                <input type="text" ng-model="modifiedUserDatum.educationSchool" placeholder="{{lyric.PROFILE_EDUCATION_LABEL}}" />
                <select ng-options="key as item for (key, item) in educationTypeDictionary" ng-model="modifiedUserDatum.educationType"></select>
                <input type="text" ng-if="confirmEducationType()" ng-model="modifiedUserDatum.educationMajor" placeholder="{{lyric.PROFILE_MAJOR_LABEL}}" />
            </div>
        </div>
        <div class="resume-block-content-item" ng-if="false">
            <div class="resume-block-content-label" ng-bind="'Website'"></div>
            <div class="resume-block-content-letter" ng-hide="isModify" ng-bind="userDatum.website"></div>
            <div class="resume-block-content-options" ng-show="isModify">
                <input type="text" ng-model="modifiedUserDatum.website" />
            </div>
        </div>
        <div class="resume-block-content-item">
            <div class="resume-block-content-label" ng-bind="lyric.PROFILE_LANGUAGE_LABEL"></div>
            <div class="resume-block-content-letter" ng-hide="isModify">
                <span ng-repeat="item in userDatum.languages" ng-bind="languageDictionary[item]"></span>
            </div>
            <div class="resume-block-content-options" ng-show="isModify">
                <label class="resume-block-content-options-item" ng-repeat="item in languageList">
                    <input type="checkbox" ng-model="item.check" />
                    <span ng-bind="item.language_name"></span>
                </label>
            </div>
        </div>
        <div class="resume-block-content-item" ng-if="false">
            <div class="resume-block-content-label" ng-bind="'Country you've been to"></div>
            <div class="resume-block-content-letter" ng-hide="isModify" ng-bind="userDatum.visits"></div>
            <div class="resume-block-content-options" ng-show="isModify">
                <label class="resume-block-content-options-item" ng-repeat="item in countryArray">
                    <input type="checkbox" />
                    <span ng-bind="item.country_name"></span>
                </label>
            </div>
        </div>
        <div class="resume-block-content-item" ng-if="false">
            <div class="resume-block-content-label" ng-bind="'Pets'"></div>
            <div class="resume-block-content-letter" ng-hide="isModify" ng-bind="userDatum.pets"></div>
            <div class="resume-block-content-options" ng-show="isModify">
                <label class="resume-block-content-options-item" ng-repeat="(key, item) in petDictionary">
                    <input type="checkbox" />
                    <span ng-bind="item"></span>
                </label>
            </div>
        </div>
    </div>
</div>