<section class="verify basic-min-height">
    <div class="register-block">
        <div class="register-block-content">
            <div class="verify-block-title" ng-bind="lyric.VERIFY_STEP_1"></div>
            <div class="verify-block-letter" ng-bind="lyric.VERIFY_MAIL_DESCRIPTION"></div>
            <div class="verify-block-options" ng-hide="mailStatus">
                <button ng-bind="lyric.VERIFY_MAIL_AGAIN_BUTTON" ng-click="sendVerifyMail()"></button>
                <input type="text" ng-model="mailVerifyCode" placeholder="{{lyric.VERIFY_MAIL_PLACEHOLDER}}" />
                <button ng-bind="lyric.VERIFY_SEND_BUTTON" ng-click="processMail()"></button>
            </div>
            <div class="verify-block-options" ng-show="mailStatus">
                <div class="i verify-done"></div>
            </div>
        </div>
    </div>
    <div class="register-block">
        <div class="register-block-content">
            <div class="verify-block-title" ng-bind="lyric.VERIFY_STEP_2"></div>
            <div class="verify-block-letter" ng-bind="lyric.VERIFY_PHONE_DESCRIPTION"></div>
            <div class="verify-block-options" ng-hide="phoneStatus">
                <button ng-bind="lyric.VERIFY_PHONE_AGAIN_BUTTON" ng-click="sendVerifyPhone()"></button>
                <input type="text" ng-model="phoneVerifyCode" placeholder="{{lyric.VERIFY_PHONE_PLACEHOLDER}}" />
                <button ng-bind="lyric.VERIFY_SEND_BUTTON" ng-click="processPhone()"></button>
            </div>
            <div class="verify-block-options" ng-show="phoneStatus">
                <div class="i verify-done"></div>
            </div>
        </div>
    </div>
    <div class="register-block">
        <div class="register-block-content">
            <div class="verify-block-title" ng-bind="lyric.VERIFY_STEP_3"></div>
            <div class="verify-block-letter" ng-bind="lyric.VERIFY_RECRUITER_DESCRIPTION"></div>
            <div class="verify-block-options" ng-hide="recruiterStatus">
                <span ng-bind="lyric.VERIFY_RECRUITER_NOTYET"></span>
            </div>
            <div class="verify-block-options" ng-show="recruiterStatus">
                <div class="i verify-done"></div>
            </div>
        </div>
    </div>
</section>