<div id="VitaeOptions" ng-if="MODE_GROUP&&(groupDatum.currentUser.meeting_enable===1)">
    <button id="VitaeOptionsZoom" ng-click="onZoomClick()" ng-bind="lyric.VITAE_TEMPORARY_BUTTON"></button>
</div>
<div class="vitae-block">
    <div class="vitae-container vitae-about">
        <div class="i vitae-block-title" ng-bind="lyric.VITAE_INTRODUCTION_TITLE"></div>
        <div class="vitae-block-content areatext" ng-if="MODE_USER" ng-bind="userDatum.intro"></div>
        <div class="vitae-block-content areatext" ng-if="MODE_GROUP" ng-bind="groupDatum.description"></div>
    </div>
</div>
<div class="vitae-block" ng-if="MODE_USER">
    <div class="vitae-container vitae-education">
        <div class="i vitae-block-title" ng-bind="lyric.VITAE_EDUCATION_TITLE"></div>
        <div class="vitae-block-content" ng-bind="userDatum.education"></div>
    </div>
    <a class="i vitae-link vitae-link-profile" href="/profile/{{userDatum.id}}" ng-bind="lyric.VITAE_MORE_BUTTON"></a>
</div>
<div class="vitae-block" ng-if="MODE_GROUP">
    <div class="vitae-container vitae-location">
        <div class="i vitae-block-title" ng-bind="lyric.VITAE_INFO_TITLE"></div>
        <div class="vitae-block-content"></div>
    </div>
    <!-- <button class="i vitae-link" ng-bind="'More...'"></button> -->
</div>
<div class="vitae-block" ng-if="MODE_USER">
    <div class="vitae-container vitae-groups">
        <div class="i vitae-block-title" ng-bind="lyric.VITAE_GROUP_TITLE"></div>
        <div class="vitae-block-empty" ng-show="!userDatum.groups.length" ng-bind="lyric.VITAE_GROUP_EMPTY"></div>
        <div class="vitae-block-content">
            <a class="vitae-block-item vitae-block-item-icon" ng-href="/group/{{item.id}}" ng-repeat="item in userDatum.groups" ng-style="{'background-image':'url('+item.avatarUrl+')'}" ng-bind="item.title"></a>
        </div>
    </div>
    <div class="vitae-container vitae-friends">
        <div class="i vitae-block-title" ng-bind="lyric.VITAE_FRIEND_TITLE"></div>
        <div class="vitae-block-empty" ng-if="!friends" ng-bind="lyric.VITAE_FRIEND_EMPTY"></div>
        <div class="vitae-block-content">
            <a class="vitae-block-item vitae-block-item-icon" ng-href="{{getFriendLink(item)}}" ng-repeat="item in friends" ng-style="getAvatarBackground(item)" ng-bind="item.first_name+' '+item.last_name"></a>
        </div>
    </div>
</div>
<div class="vitae-block" ng-if="MODE_GROUP">
    <div class="vitae-container vitae-recruiters">
        <div class="i vitae-block-title" ng-bind="lyric.VITAE_RECRUITER_TITLE"></div>
        <div class="vitae-block-empty" ng-show="!groupDatum.recruiters.length" ng-bind="lyric.VITAE_RECRUITER_EMPTY"></div>
        <div class="vitae-block-content">
            <a class="vitae-block-item vitae-block-item-icon" ng-href="{{getAppointLink(item)}}" ng-repeat="item in groupDatum.recruiters" ng-style="{'background-image':'url('+item.avatarUrl+')'}" ng-bind="(item===groupDatum.currentUser)?'My Self':item.name"></a>
        </div>
    </div>
</div>